.back-icon {
  width: 24px;
  height: 18px;
  position: relative;
  border: 0;
  background-color: transparent;
  cursor: pointer; }
  .back-icon::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    left: 0;
    top: 5px;
    transform: rotate(45deg); }
  .back-icon::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    left: 0;
    top: 5px;
    transform: rotate(135deg); }

.none {
  display: none; }

.active-link::after {
  content: "";
  position: absolute;
  margin-top: 20px;
  left: 20px;
  width: 40px;
  height: 2px;
  background-color: #22BF95; }

.current-tabs-link {
  color: #22BF95; }

.is-hidden {
  overflow: hidden; }

.max-width {
  max-width: 1440px; }

.accord-text-active {
  margin-top: 20px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 32px; }

.accordion-active {
  margin-left: 18px;
  border: 1.5px solid #22BF95;
  position: relative;
  min-width: 14px;
  min-height: 14px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3);
  border-radius: 20px;
  cursor: pointer; }
  .accordion-active::after {
    content: "";
    width: 7px;
    height: 1px;
    position: absolute;
    background-color: #22BF95;
    top: 6px;
    left: 2.5px; }

.line {
  border-bottom: 1px solid #22BF95; }
