@media (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
    margin: auto; }
  .gamburgerContainer {
    display: none;
    position: absolute; }
  .logo {
    margin: 28px 84px 0px 84px; }
    .logo .skoutTop {
      width: 110px;
      height: 24px; }
  .containerHeaderMenu {
    display: flex !important;
    position: static;
    background-color: transparent;
    flex-direction: row;
    flex-basis: 78%;
    justify-content: space-between; }
    .containerHeaderMenu .wrapperHeaderMenu {
      display: flex;
      flex-basis: 70%; }
    .containerHeaderMenu .headerMenu {
      flex-direction: row;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .containerHeaderMenu .headerMenu a {
        color: white;
        position: relative;
        min-width: 85px; }
        .containerHeaderMenu .headerMenu a:hover {
          color: #7f7f7f; }
      .containerHeaderMenu .headerMenu .currentLink::after {
        content: "";
        position: absolute;
        margin-top: 20px;
        left: 25%;
        width: 40px;
        height: 2px;
        background-color: white; }
    .containerHeaderMenu .enterButton {
      position: static;
      flex-direction: row;
      margin-bottom: 0;
      margin-right: 70px; }
      .containerHeaderMenu .enterButton button {
        margin-top: 20px;
        margin-right: 20px;
        background-color: transparent;
        border: 1.5px solid white;
        color: white; }
        .containerHeaderMenu .enterButton button:hover {
          color: #7f7f7f;
          border: 1.5px solid #7f7f7f; }
  .headerText {
    margin-top: 0;
    position: absolute;
    top: 37%;
    left: 28%; }
    .headerText span {
      font-size: 110px;
      line-height: 130px; }
  .container {
    position: relative;
    min-height: 500px; }
  .tabs {
    width: 770px;
    height: 80px;
    margin-top: -35px; }
    .tabs a {
      font-size: 12px;
      line-height: 24px;
      padding-top: 4%; }
  .accordionsContainer {
    margin-top: 98px !important; }
  #headTips {
    width: 247px !important;
    height: 41px !important;
    margin-top: 19px !important;
    margin-bottom: 95px !important; }
  .accordContainer {
    min-height: 151px !important;
    position: relative; }
    .accordContainer .headAccordion .number {
      font-size: 110px !important;
      line-height: 130px !important;
      width: 50px !important;
      margin-right: 113px !important; }
    .accordContainer .headAccordion .accordText {
      font-size: 24px;
      line-height: 36px; }
    .accordContainer .headAccordion .accordion {
      width: 37.5px !important;
      height: 35px !important; }
      .accordContainer .headAccordion .accordion::after {
        width: 20px !important;
        height: 2px !important;
        top: 49% !important;
        left: 20% !important; }
      .accordContainer .headAccordion .accordion::before {
        width: 20px !important;
        height: 2px !important;
        top: 49% !important;
        transform: rotate(90deg); }
  .accordionActive {
    position: absolute;
    right: 0;
    top: -10px;
    margin-top: 57px;
    width: 35px;
    height: 35px;
    margin-left: 37px; }
    .accordionActive::after {
      width: 20px !important;
      height: 2px !important; }
  .accordTextActive {
    flex-basis: 15% !important;
    margin-top: 57px;
    font-size: 42px !important;
    line-height: 54px !important; }
  .panel {
    position: relative; }
    .panel .mainIcon {
      margin: 42px 0 0 0 !important; }
    .panel .footerAccordion {
      font-size: 16px;
      margin-bottom: 63px; }
    .panel .footerAccordionContainer {
      position: absolute;
      top: 0%;
      left: 41%;
      width: 47%; }
  .glossaryContaner {
    width: 89%;
    margin: auto; }
    .glossaryContaner .line {
      width: 100% !important;
      margin: auto !important;
      margin-top: 160px !important; }
    .glossaryContaner #headGlossary {
      width: 342px !important;
      height: 41px !important;
      margin-left: 0 !important;
      margin: 19px 0 50px 0; }
  section {
    display: flex; }
    section .sliderContainer {
      margin: 60px 0 60px -10px !important; }
      section .sliderContainer .sliderHead {
        margin: 60px 73px 29px 151px !important; }
      section .sliderContainer .sliderButtonContainer {
        position: relative;
        right: 5.5%; }
        section .sliderContainer .sliderButtonContainer .sliderButton {
          width: 25px;
          height: 25px;
          margin-top: 20px; }
          section .sliderContainer .sliderButtonContainer .sliderButton::after {
            width: 10px;
            height: 10px;
            top: 30%;
            left: 35%; }
          section .sliderContainer .sliderButtonContainer .sliderButton::before {
            width: 15px;
            height: 2px; }
    section .sliderTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 54%;
      margin: auto !important; }
      section .sliderTextContainer p {
        font-size: 90px !important;
        line-height: 120px !important;
        padding-bottom: 70px !important; }
      section .sliderTextContainer span {
        font-size: 24px !important;
        line-height: 36px !important; }
      section .sliderTextContainer .sliderText {
        width: 86%;
        margin: auto; }
        section .sliderTextContainer .sliderText .line {
          height: 72px !important;
          margin-right: 35px !important; }
  .activeSliderLink::before {
    width: 105px;
    right: 117%; }
  .faqsContainer {
    width: 89%;
    margin: auto; }
    .faqsContainer .line {
      margin: 160px 0 20px 0 !important;
      width: 100% !important; }
    .faqsContainer #headFAQs {
      width: 232px;
      height: 73px;
      margin-left: 0; }
  .faqsAccordionContainer {
    width: 89% !important;
    margin: auto; }
    .faqsAccordionContainer .panel {
      padding: 0 !important; }
      .faqsAccordionContainer .panel .panelSpan {
        margin-right: 100px;
        font-size: 110px !important;
        line-height: 130px !important; }
      .faqsAccordionContainer .panel div {
        margin: auto 0; }
        .faqsAccordionContainer .panel div .answer {
          font-size: 16px !important;
          line-height: 24px !important; }
  .headAccordionFaqs {
    padding: 0 !important;
    min-height: 196px !important; }
    .headAccordionFaqs span:first-child {
      font-size: 110px !important;
      line-height: 130px !important;
      margin-right: 100px !important; }
    .headAccordionFaqs .question {
      flex-basis: 78% !important;
      font-size: 24px;
      line-height: 36px; }
    .headAccordionFaqs .accordion {
      width: 30px !important;
      height: 30px !important; }
  .moreQuestions {
    margin-bottom: 102px !important; }
  footer .aboutCompany {
    padding-top: 78px;
    flex-direction: row !important; }
    footer .aboutCompany .linkCompany {
      padding-left: 6%;
      flex-basis: 18%;
      margin: 0 !important; }
      footer .aboutCompany .linkCompany a {
        margin-bottom: 30px;
        min-width: 170px;
        margin-top: 0 !important; }
      footer .aboutCompany .linkCompany #Call {
        margin-bottom: 0 !important; }
    footer .aboutCompany .addresContainer {
      margin: auto;
      width: 72%; }
      footer .aboutCompany .addresContainer .addres {
        min-height: 118px;
        padding: 0;
        flex-direction: row;
        justify-content: space-between; }
        footer .aboutCompany .addresContainer .addres p {
          font-size: 24px;
          margin-right: 209px; }
        footer .aboutCompany .addresContainer .addres span {
          font-size: 16px;
          line-height: 24px;
          margin-right: 30px; }
        footer .aboutCompany .addresContainer .addres a {
          font-size: 16px;
          line-height: 24px; }
        footer .aboutCompany .addresContainer .addres div {
          display: flex;
          flex-direction: column;
          margin-right: 30px; }
  footer .social {
    width: 89%;
    margin: auto;
    padding-top: 27px !important;
    display: flex;
    justify-content: space-between; }
    footer .social span {
      margin-right: 50px; }
    footer .social .skoutBottom {
      width: 168px !important;
      height: 58px !important;
      margin-bottom: 68px; }
  .sticky {
    position: fixed !important;
    top: 15%;
    left: 0;
    right: 0; }
  .stickyMain {
    z-index: 1;
    margin: auto;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0; }
    .stickyMain .logo .skoutTop {
      display: none; }
    .stickyMain .logo .skoutGrey {
      width: 110px;
      height: 24px;
      display: inline-block !important; }
    .stickyMain .containerHeaderMenu .headerMenu a {
      color: #7F7F7F; }
      .stickyMain .containerHeaderMenu .headerMenu a:hover {
        color: #22BF95; }
    .stickyMain .containerHeaderMenu .enterButton button {
      color: #7F7F7F;
      border: 1px solid #7F7F7F; }
      .stickyMain .containerHeaderMenu .enterButton button:hover {
        color: #22BF95;
        border: 1px solid #22BF95; } }
