@font-face {
  font-family: 'Actor';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Actor-Regular.woff2") format("woff2"), url("../fonts/Actor-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Acme';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Acme-Regular.woff2") format("woff2"), url("../fonts/Acme-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Aclonica';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Aclonica-Regular.woff2") format("woff2"), url("../fonts//Aclonica-Regular.woff") format("woff"); }

body {
  min-width: 375px;
  overflow-x: hidden;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::after,
::before {
  box-sizing: inherit; }

.hamburger-container {
  margin-top: 18px;
  margin-right: 20px; }
  .hamburger-container .hamburger-icon {
    width: 24px;
    height: 18px;
    position: relative;
    border: 0;
    background-color: transparent;
    cursor: pointer; }
    .hamburger-container .hamburger-icon::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: white;
      left: 0;
      top: 0;
      box-shadow: 0 8px 0 0 white, 0 16px 0 0 white; }

.header-text {
  margin: 30px auto 0 auto;
  text-align: center;
  max-width: 123px;
  font-family: Actor; }
  .header-text span {
    color: white;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 2px;
    text-transform: uppercase; }

.logo {
  margin-top: 18px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  width: 92px;
  height: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Actor;
  letter-spacing: 2px;
  font-weight: 900; }

.header-inner {
  display: flex;
  justify-content: space-between; }

.header {
  background: linear-gradient(45deg, #13c3e7, #01f86c);
  width: 100%; }
  .header .container {
    min-height: 210px;
    margin: auto; }
    .header .container .empty-element {
      min-height: 80px; }

.container-header-menu {
  top: 62px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 2;
  font-family: Acme; }
  .container-header-menu .header-menu {
    cursor: pointer;
    margin: 0;
    list-style: none;
    flex-direction: column;
    display: flex;
    margin-top: 24px;
    padding: 0; }
    .container-header-menu .header-menu li {
      margin-bottom: 12px;
      text-align: center;
      position: relative;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2px;
      color: #22BF95;
      text-decoration: none;
      text-transform: uppercase; }
      .container-header-menu .header-menu li:hover {
        color: #7f7f7f;
        transition: 800ms color; }
  .container-header-menu .enter-buttons {
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 40px; }
    .container-header-menu .enter-buttons button {
      text-transform: uppercase;
      font-family: Acme;
      margin-top: 16px;
      width: 180px;
      height: 40px;
      border-radius: 20px;
      border: 1.5px solid #22BF95;
      background-color: white;
      color: #22BF95;
      cursor: pointer; }
      .container-header-menu .enter-buttons button:hover {
        border: 1.5px solid #7f7f7f;
        color: #7f7f7f;
        transition: 800ms color;
        transition: 800ms border; }

.tabs {
  z-index: 1;
  max-width: 335px;
  min-height: 40px;
  margin: auto;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Acme;
  margin-top: -12px;
  box-shadow: 0px 12px 24px #f2f2f2;
  border: 0;
  border-top: 2.5px solid #22BF95;
  border-radius: 5px 5px 0 0;
  background: white;
  position: relative; }
  .tabs a {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #7f7f7f;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase; }
  .tabs .head-tips::after {
    content: "";
    position: absolute;
    border-left: 1.5px solid #e5e5e5;
    height: 20px;
    top: 10px;
    left: 95px; }
  .tabs .head-glossary::after {
    content: "";
    position: absolute;
    border-left: 1.5px solid #e5e5e5;
    height: 20px;
    top: 10px;
    left: 230px; }

.accordions-container {
  min-width: 335px;
  margin-top: 24px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Aclonica; }
  .accordions-container .skout-tips-container {
    border-top: 1px solid #b2b2b2;
    border-radius: 1px; }
  .accordions-container .accord-container {
    min-height: 54px;
    border-top: 1px solid #22BF95; }
    .accordions-container .accord-container .panel {
      padding: 0 18px;
      color: #212121;
      background-color: #fff;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out; }
      .accordions-container .accord-container .panel .main-icon {
        margin: auto;
        display: block; }
      .accordions-container .accord-container .panel .bottom-info {
        display: flex;
        align-items: flex-start; }
        .accordions-container .accord-container .panel .bottom-info img {
          margin: 11px 20px 0 0; }
        .accordions-container .accord-container .panel .bottom-info span {
          margin: 11px 0 23px 0;
          font-size: 12px;
          line-height: 24px;
          color: #7f7f7f; }
    .accordions-container .accord-container .head-accordion {
      display: flex;
      align-items: center;
      cursor: pointer;
      border: 0;
      background-color: white;
      width: 100%;
      font-family: Aclonica;
      text-align: start; }
      .accordions-container .accord-container .head-accordion .number {
        margin-left: 16px;
        font-family: Actor;
        font-size: 40px;
        width: 30px;
        line-height: 48px;
        letter-spacing: 2px;
        color: #e5e5e5;
        text-transform: uppercase; }
      .accordions-container .accord-container .head-accordion .accord-text {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-left: 18px;
        transition: font-size 0.4s ease-out; }
      .accordions-container .accord-container .head-accordion .accordion-button {
        border: 1.5px solid #22BF95;
        position: relative;
        min-width: 14px;
        min-height: 14px;
        background-color: white;
        box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3);
        border-radius: 50px;
        cursor: pointer; }
        .accordions-container .accord-container .head-accordion .accordion-button::after {
          content: "";
          width: 7px;
          height: 1px;
          position: absolute;
          background-color: #22BF95;
          top: 5.5px;
          left: 2px; }
        .accordions-container .accord-container .head-accordion .accordion-button:hover::after {
          background-color: #7f7f7f;
          transition: 800ms background-color; }
        .accordions-container .accord-container .head-accordion .accordion-button::before {
          content: "";
          width: 7px;
          height: 1px;
          position: absolute;
          background-color: #22BF95;
          top: 6px;
          left: 2px;
          transform: rotate(90deg); }
        .accordions-container .accord-container .head-accordion .accordion-button:hover::before {
          background-color: #7f7f7f;
          transition: 800ms background-color; }
        .accordions-container .accord-container .head-accordion .accordion-button:hover {
          border: 1.5px solid #7f7f7f;
          transition: 800ms border; }
  .accordions-container #head-tips-img {
    width: 90px;
    height: 19px;
    margin-top: 10px;
    margin-bottom: 18px; }
  .accordions-container #head-glossary {
    width: 114px; }
  .accordions-container .glossary-contaner {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 11px;
    border-top: 1px solid #b2b2b2;
    border-radius: 1px; }

.section {
  background: linear-gradient(45deg, #e0e0e0, #ffffff);
  font-family: Aclonica;
  padding-top: 1px; }
  .section .section-wrapper .slider-container {
    max-width: 442px;
    margin: 24px 20px 0 20px;
    background-color: white;
    box-shadow: 0px 12px 24px #e5e5e5;
    border-radius: 5px;
    display: flex; }
    .section .section-wrapper .slider-container .slider-head {
      margin: 40px 75px 40px 60px;
      width: 100%; }
      .section .section-wrapper .slider-container .slider-head .sliderItem {
        position: relative;
        font-size: 16px;
        line-height: 32px; }
        .section .section-wrapper .slider-container .slider-head .sliderItem span {
          cursor: pointer;
          color: #7f7f7f; }
        .section .section-wrapper .slider-container .slider-head .sliderItem:hover span {
          color: #22BF95;
          transition: 800ms color; }
    .section .section-wrapper .slider-container .slider-button-container {
      display: flex;
      flex-direction: column;
      margin-right: 25px; }
      .section .section-wrapper .slider-container .slider-button-container button {
        width: 16px;
        height: 16px;
        border-radius: 20px;
        background: white;
        border: 1px solid #22BF95;
        display: flex;
        align-items: stretch;
        padding-bottom: -30px;
        padding-bottom: -5px;
        padding-top: 0px;
        margin-top: 16px;
        position: relative;
        cursor: pointer; }
        .section .section-wrapper .slider-container .slider-button-container button::after {
          content: "";
          width: 6px;
          height: 6px;
          border-right: 2px solid #22BF95;
          border-bottom: 2px solid #22BF95;
          position: absolute;
          transform: rotate(-50deg);
          top: 4px;
          left: 5px; }
        .section .section-wrapper .slider-container .slider-button-container button::before {
          content: "";
          width: 8px;
          height: 2px;
          background-color: #22BF95;
          position: absolute;
          top: 6px;
          left: 2px; }
        .section .section-wrapper .slider-container .slider-button-container button:hover {
          border: 1px solid #7f7f7f;
          transition: 800ms border; }
        .section .section-wrapper .slider-container .slider-button-container button:hover::after {
          border-right: 2px solid #7f7f7f;
          border-bottom: 2px solid #7f7f7f;
          transition: 800ms border-right;
          transition: 800ms border-bottom; }
        .section .section-wrapper .slider-container .slider-button-container button:hover::before {
          background-color: #7f7f7f;
          transition: 800ms background-color; }
      .section .section-wrapper .slider-container .slider-button-container .rotate-arrow {
        transform: rotate(180deg); }
  .section .section-wrapper .slider-text-container {
    margin: 32px 24px 0 20px;
    padding-bottom: 24px; }
    .section .section-wrapper .slider-text-container p {
      padding-bottom: 24px;
      margin: 0 0 0 20px;
      font-family: Actor;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: #1a1a1a; }
    .section .section-wrapper .slider-text-container span {
      font-size: 16px;
      line-height: 24px;
      color: #191919; }
    .section .section-wrapper .slider-text-container .slider-text {
      display: flex;
      max-width: 442px;
      padding-left: 16px;
      border-left: 1.5px solid #22BF95; }

#head-FAQs {
  width: 110px;
  height: 18px; }

.more-questions {
  margin: 20px 0 24px 0;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #22BF95;
  font-family: Acme; }
  .more-questions:hover {
    color: #7f7f7f;
    transition: 800ms color; }

.faqs-container {
  min-width: 335px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0px 20px 0px 20px; }
  .faqs-container .head-FAQs-wrapper {
    border-top: 1px solid #b2b2b2;
    border-radius: 1px;
    width: 100%;
    padding-top: 19px; }

.faqs-accordion-container {
  font-family: Aclonica; }
  .faqs-accordion-container .panel {
    display: flex;
    padding: 0 20px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out; }
    .faqs-accordion-container .panel span {
      font-size: 40px;
      line-height: 48px;
      margin-right: 25px;
      color: #e5e5e5; }
    .faqs-accordion-container .panel .answer {
      margin: auto 0;
      font-size: 14px;
      line-height: 24px;
      color: #191919; }
  .faqs-accordion-container .head-accordion-Faqs {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    min-height: 114px;
    border: 0;
    background: white;
    width: 100%;
    text-align: start; }
    .faqs-accordion-container .head-accordion-Faqs span:first-child {
      font-size: 40px;
      line-height: 48px;
      margin-right: 25px;
      color: #e5e5e5;
      font-family: Actor; }
    .faqs-accordion-container .head-accordion-Faqs .accordion-button {
      min-width: 20px;
      min-height: 20px;
      border-bottom: 1.5px solid #22BF95;
      border-left: 1.5px solid #22BF95;
      background: white;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      transition: transform 0.8s ease-in-out;
      cursor: pointer; }
      .faqs-accordion-container .head-accordion-Faqs .accordion-button:hover {
        border-bottom: 1.5px solid #7f7f7f;
        border-left: 1.5px solid #7f7f7f;
        transition: 800ms border-left;
        transition: 800ms border-bottom; }
    .faqs-accordion-container .head-accordion-Faqs .rotate {
      transform: rotate(135deg);
      transition: transform 0.8s ease-in-out; }
    .faqs-accordion-container .head-accordion-Faqs .question {
      width: 100%;
      color: #191919;
      font-family: Aclonica; }

.footer {
  background-color: #f2f2f2;
  width: 100%;
  font-family: Aclonica; }
  .footer .footer-wrapper .about-company {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .footer .footer-wrapper .about-company .link-company {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 24px 0 0 23px; }
      .footer .footer-wrapper .about-company .link-company li a {
        font-size: 12px;
        line-height: 24px;
        color: #7f7f7f;
        margin-top: 12px;
        text-decoration: none; }
      .footer .footer-wrapper .about-company .link-company li span {
        font-size: 16px;
        line-height: 24px;
        color: #7f7f7f;
        margin-bottom: 20px; }
  .footer .footer-wrapper .address-container {
    padding: 0;
    margin-left: 23px; }
    .footer .footer-wrapper .address-container .address {
      display: flex;
      flex-direction: column;
      padding: 8px 0 8px 0;
      border-top: 2px solid #22BF95; }
      .footer .footer-wrapper .address-container .address p {
        font-size: 16px;
        line-height: 36px;
        color: #7f7f7f;
        margin: 0; }
      .footer .footer-wrapper .address-container .address span {
        font-size: 16px;
        line-height: 24px;
        color: #7f7f7f;
        font-style: normal; }
      .footer .footer-wrapper .address-container .address .phone {
        font-size: 16px;
        line-height: 24px;
        color: #7f7f7f; }
      .footer .footer-wrapper .address-container .address .view-map {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: #22BF95; }
        .footer .footer-wrapper .address-container .address .view-map:hover {
          color: #7f7f7f;
          transition: 800ms color; }
  .footer .social {
    border-top: 1.5px solid #b2b2b2;
    margin-top: 12px;
    padding-top: 20px;
    text-align: center; }
    .footer .social .conteiner-social-icons {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
      padding-left: 0; }
      .footer .social .conteiner-social-icons .twitter {
        cursor: pointer;
        display: inline-block;
        width: 30px;
        height: 24px;
        background-image: url(../images/twitter.png);
        background-position: 0 0; }
        .footer .social .conteiner-social-icons .twitter:hover {
          background-position: 30px 0;
          transition: 300ms background-position; }
      .footer .social .conteiner-social-icons .facebook {
        cursor: pointer;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url(../images/facebook.png);
        background-position: 0 0; }
        .footer .social .conteiner-social-icons .facebook:hover {
          background-position: 25px 0;
          transition: 300ms background-position; }
      .footer .social .conteiner-social-icons .youtube {
        cursor: pointer;
        display: inline-block;
        width: 32px;
        height: 23px;
        background-image: url(../images/youtube.png);
        background-position: 0 0; }
        .footer .social .conteiner-social-icons .youtube:hover {
          background-position: 32px 0;
          transition: 300ms background-position; }
      .footer .social .conteiner-social-icons .in {
        cursor: pointer;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url(../images/in.png);
        background-position: 0 0; }
        .footer .social .conteiner-social-icons .in:hover {
          background-position: 25px 0;
          transition: 300ms background-position; }
  .footer .skout-bottom {
    width: 105px;
    height: 38px;
    margin-bottom: 28px; }

.back-icon {
  width: 24px;
  height: 18px;
  position: relative;
  border: 0;
  background-color: transparent;
  cursor: pointer; }
  .back-icon::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    left: 0;
    top: 5px;
    transform: rotate(45deg); }
  .back-icon::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    left: 0;
    top: 5px;
    transform: rotate(135deg); }

.none {
  display: none; }

.active-link::after {
  content: "";
  position: absolute;
  margin-top: 20px;
  left: 20px;
  width: 40px;
  height: 2px;
  background-color: #22BF95; }

.current-tabs-link {
  color: #22BF95; }

.is-hidden {
  overflow: hidden; }

.max-width {
  max-width: 1440px; }

.active-slider-link::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 1px;
  background-color: #22BF95;
  bottom: 16px;
  right: 140px; }

.accord-text-active {
  margin-top: 20px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 32px; }

.accordion-active {
  margin-left: 18px;
  border: 1.5px solid #22BF95;
  position: relative;
  min-width: 14px;
  min-height: 14px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3);
  border-radius: 20px;
  cursor: pointer; }
  .accordion-active::after {
    content: "";
    width: 7px;
    height: 1px;
    position: absolute;
    background-color: #22BF95;
    top: 6px;
    left: 2.5px; }

.line {
  border-bottom: 1px solid #22BF95; }

@media (min-width: 1440px) {
  .hamburger-container {
    display: none;
    position: absolute; }
  .logo {
    margin: 28px 84px 0px 84px;
    width: 110px;
    height: 24px;
    font-size: 24px; }
  .header .container {
    position: relative;
    min-height: 500px; }
  .container-header-menu {
    display: flex;
    position: static;
    background-color: transparent;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; }
    .container-header-menu .header-menu {
      padding: 0;
      width: 100%;
      flex-direction: row;
      margin-top: 0;
      display: flex;
      justify-content: space-between; }
      .container-header-menu .header-menu li {
        margin-bottom: 0;
        color: white;
        position: relative;
        min-width: 85px; }
        .container-header-menu .header-menu li:hover {
          color: #7f7f7f; }
      .container-header-menu .header-menu .active-link::after {
        content: "";
        position: absolute;
        margin-top: 20px;
        left: 20px;
        width: 40px;
        height: 2px;
        background-color: white; }
    .container-header-menu .enter-buttons {
      position: static;
      flex-direction: row;
      margin-bottom: 0;
      margin-right: 70px; }
      .container-header-menu .enter-buttons button {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: transparent;
        border: 1.5px solid white;
        color: white; }
        .container-header-menu .enter-buttons button:hover {
          color: #7f7f7f;
          border: 1.5px solid #7f7f7f; }
  .header-text {
    max-width: none;
    margin: 102px auto 0 auto; }
    .header-text span {
      font-size: 110px;
      line-height: 130px; }
  .tabs {
    max-width: 770px;
    min-height: 80px;
    margin-top: -35px; }
    .tabs a {
      font-size: 12px;
      line-height: 24px;
      padding: 28px 100px; }
    .tabs .head-tips::after {
      height: 40px;
      top: 20px;
      left: 235px; }
    .tabs .head-glossary::after {
      height: 40px;
      top: 20px;
      left: 525px; }
  .accordions-container {
    margin: auto;
    margin-top: 98px;
    padding-left: 136px;
    padding-right: 136px; }
    .accordions-container .skout-tips-container #head-tips-img {
      width: 247px;
      height: 41px;
      margin-top: 19px;
      margin-bottom: 95px; }
    .accordions-container .accord-container {
      min-height: 151px;
      position: relative; }
      .accordions-container .accord-container .head-accordion {
        justify-content: space-between; }
        .accordions-container .accord-container .head-accordion .number {
          font-size: 110px;
          line-height: 130px;
          width: 50px;
          margin-right: 113px; }
        .accordions-container .accord-container .head-accordion .accord-text {
          font-size: 24px;
          line-height: 36px; }
        .accordions-container .accord-container .head-accordion .accordion-button {
          min-width: 35px;
          min-height: 35px; }
          .accordions-container .accord-container .head-accordion .accordion-button::after {
            width: 20px;
            height: 2px;
            top: 15px;
            left: 6px; }
          .accordions-container .accord-container .head-accordion .accordion-button::before {
            width: 20px;
            height: 2px;
            top: 15px;
            left: 6px;
            transform: rotate(90deg); }
      .accordions-container .accord-container .panel {
        display: flex; }
        .accordions-container .accord-container .panel .main-icon {
          margin: 42px 0 0 0; }
        .accordions-container .accord-container .panel .footer-accordion {
          font-size: 16px;
          margin-bottom: 63px; }
        .accordions-container .accord-container .panel .footer-accordion-container {
          max-width: 500px;
          margin-left: 135px; }
    .accordions-container .glossary-contaner {
      margin-top: 160px;
      padding-top: 19px;
      margin-bottom: 50px; }
      .accordions-container .glossary-contaner #head-glossary {
        min-width: 342px;
        min-height: 41px;
        margin-left: 0;
        margin: 19px 0 50px 0; }
  .accordion-active {
    min-width: 35px;
    min-height: 35px; }
    .accordion-active::after {
      width: 20px;
      height: 2px;
      top: 14px;
      left: 5px; }
  .accord-text-active {
    max-width: 175px;
    margin-top: 57px;
    font-size: 42px;
    line-height: 54px; }
  .section .section-wrapper {
    display: flex;
    margin: auto; }
    .section .section-wrapper .slider-container {
      margin: 60px 0 60px -10px; }
      .section .section-wrapper .slider-container .slider-head {
        margin: 60px 73px 29px 151px; }
      .section .section-wrapper .slider-container .slider-button-container {
        margin-right: 19px; }
        .section .section-wrapper .slider-container .slider-button-container .slider-button {
          width: 25px;
          height: 25px;
          margin-top: 20px; }
          .section .section-wrapper .slider-container .slider-button-container .slider-button::after {
            width: 10px;
            height: 10px;
            top: 7px;
            left: 9px; }
          .section .section-wrapper .slider-container .slider-button-container .slider-button::before {
            top: 11px;
            width: 15px;
            height: 2px; }
    .section .section-wrapper .slider-text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto; }
      .section .section-wrapper .slider-text-container p {
        font-size: 90px;
        line-height: 120px;
        padding-bottom: 70px;
        margin: 0; }
      .section .section-wrapper .slider-text-container span {
        font-size: 24px;
        line-height: 36px; }
      .section .section-wrapper .slider-text-container .slider-text {
        padding-left: 40px;
        margin-left: 80px; }
  .active-slider-link::before {
    width: 105px;
    margin-right: 15px; }
  .faqs-container {
    padding-left: 136px;
    padding-right: 136px;
    margin: 160px auto 100px auto; }
    .faqs-container .head-FAQs-wrapper #head-FAQs {
      width: 272px;
      height: 32px;
      margin-left: 0; }
  .faqs-accordion-container {
    margin: auto;
    padding-left: 136px;
    padding-right: 136px; }
    .faqs-accordion-container .head-accordion-Faqs {
      padding: 0;
      min-height: 196px; }
      .faqs-accordion-container .head-accordion-Faqs span:first-child {
        font-size: 110px;
        line-height: 130px;
        margin-right: 100px; }
      .faqs-accordion-container .head-accordion-Faqs .question {
        font-size: 24px;
        line-height: 36px; }
      .faqs-accordion-container .head-accordion-Faqs .accordion-button {
        margin-right: 80px;
        min-width: 30px;
        min-height: 30px; }
    .faqs-accordion-container .panel {
      padding: 0; }
      .faqs-accordion-container .panel .panel-span {
        margin-right: 100px;
        font-size: 110px;
        line-height: 130px; }
      .faqs-accordion-container .panel .answer {
        font-size: 16px;
        line-height: 24px; }
    .faqs-accordion-container .more-questions {
      margin-bottom: 102px; }
  .footer .footer-wrapper {
    margin: auto;
    padding-left: 135px;
    padding-right: 135px; }
    .footer .footer-wrapper .about-company {
      display: flex;
      justify-content: space-between;
      padding-top: 78px;
      flex-direction: row; }
      .footer .footer-wrapper .about-company .link-company {
        margin: 0;
        padding: 0;
        margin-bottom: 35px; }
        .footer .footer-wrapper .about-company .link-company li {
          margin-bottom: 30px; }
          .footer .footer-wrapper .about-company .link-company li a {
            min-width: 170px;
            margin-top: 0; }
      .footer .footer-wrapper .about-company .address-container {
        padding: 0; }
        .footer .footer-wrapper .about-company .address-container .address {
          min-height: 118px;
          padding: 0;
          flex-direction: row;
          justify-content: space-between; }
          .footer .footer-wrapper .about-company .address-container .address p {
            font-size: 24px;
            margin-right: 150px; }
          .footer .footer-wrapper .about-company .address-container .address span {
            font-size: 16px;
            line-height: 24px;
            margin-right: 30px; }
          .footer .footer-wrapper .about-company .address-container .address .phone {
            font-size: 16px;
            line-height: 24px;
            margin-right: 30px; }
          .footer .footer-wrapper .about-company .address-container .address .view-map {
            font-size: 16px;
            line-height: 24px; }
          .footer .footer-wrapper .about-company .address-container .address div {
            display: flex;
            flex-direction: column;
            margin-right: 30px; }
    .footer .footer-wrapper .social {
      padding-top: 27px;
      display: flex;
      justify-content: space-between; }
      .footer .footer-wrapper .social li {
        margin-right: 50px; }
      .footer .footer-wrapper .social .skout-bottom {
        width: 168px;
        height: 58px;
        margin-bottom: 68px; }
  .sticky {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0; }
  .sticky-main {
    background-color: white;
    transition: background-color 600ms;
    max-width: 1440px;
    z-index: 1;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    .sticky-main .logo {
      color: #7f7f7f; }
    .sticky-main .container-header-menu .header-menu li {
      color: #7f7f7f; }
      .sticky-main .container-header-menu .header-menu li:hover {
        color: #22BF95; }
    .sticky-main .container-header-menu .enter-buttons button {
      color: #7f7f7f;
      border: 1px solid #7f7f7f; }
      .sticky-main .container-header-menu .enter-buttons button:hover {
        color: #22BF95;
        border: 1px solid #22BF95; } }
