@import "vars";
@import "fonts";
@import "active";

body {
  min-width: 375px;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
::before {
  box-sizing: inherit;
}

.header{
  background: linear-gradient(45deg, #13c3e7, #01f86c);
  width: 100%;
  .container {
    height: 210px;
    min-width: 375px;
    margin: auto;
  }
}


.hamburger-container {
  margin-top: 18px;
  margin-right: 20px;

  .hamburger-icon {
    width: 24px;
    height: 18px;
    position: relative;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $colorTextPrimary;
      left: 0;
      top: 0;
      box-shadow: 0 8px 0 0 white, 0 16px 0 0 white;
    }
  }
}

.header-text {
  margin: 30px auto 0 auto;
  text-align: center;
  max-width: 123px;
  font-family: Actor;
  span {
    color: $colorTextPrimary;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.logo {
  margin-top: 18px;
  margin-left: 20px;
  color: $colorTextPrimary;
  text-decoration: none;
  p{
    width: 92px;
    height: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Actor;
    letter-spacing: 2px;
    margin: 0;
    font-weight: 900;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  
}

.container-header-menu {
  top: 62px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 2;
  font-family: Acme;
  .header-menu {
    cursor: pointer;
    margin: 0;
    list-style: none;
    flex-direction: column;
    display: flex;
    margin-top: 24px;
    padding: 0;
    li {
      margin-top: 16px;
      text-align: center;
      position: relative;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2px;
      color: $colorTextlinks;
      text-decoration: none;
      &:hover {
        color: $hoverColorLink;
        transition: 800ms color;
      }
    }
  }

  .enter-buttons {
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
    button {
      text-transform: uppercase;
      font-family: Acme;
      margin-top: 16px;
      width: 180px;
      height: 40px;
      border-radius: 20px;
      border: 1.5px solid $colorTextlinks;
      background-color: $colorTextPrimary;
      color: $colorTextlinks;
      cursor: pointer;
      &:hover {
        border: 1.5px solid $hoverColorLink;
        color: $hoverColorLink;
        transition: 800ms color;
        transition: 800ms border;
      }
    }
  }
}

.tabs {
  z-index: 1;
  max-width: 335px;
  min-height: 40px;
  margin: auto;
  border: 1px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Acme;
  margin-top: -12px;
  box-shadow: 0px 12px 24px #f2f2f2;
  border: 0;
  border-top:2.5px solid $colorTextlinks;
  border-radius: 5px 5px 0 0;
  background: white;
  position: relative;
  a {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: $hoverColorLink;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 0;
  }
  .head-tips {
    flex-basis: 29%;
    text-align: center;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      border-left: 1.5px solid #e5e5e5;
      height: 50%;
      left: 29%;
    }
  }
  .head-glossary {
    flex-basis: 40%;
    text-align: center;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      border-left: 1.5px solid #e5e5e5;
      height: 50%;
      left: 69%;
    }
  }
  .head-FAQs {
    flex-basis: 31%;
    height: 100%;
    text-align: center;
  }
}

.accordions-container {
  min-width: 335px;
  margin-top: 24px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Aclonica;

  .line {

    height: 1px;
    background-color: $colorTextlinks;
  }

  .skout-tips-container {


    border-top: 1px solid #b2b2b2;
    border-radius: 1px;
  }

  .accord-container {


    min-height: 54px;

    .panel {
      padding: 0 18px;
      color: #212121;
      background-color: #fff;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;

      .main-icon {
        margin: auto;
        display: block;
      }
      .bottom-info {
        display: flex;
        align-items: flex-start;
        img {
          margin: 11px 20px 0 0;
        }
        span {
          margin: 11px 0 23px 0;
          font-size: 12px;
          line-height: 24px;
          color: $hoverColorLink;
        }
      }
    }

    .head-accordion {
      display: flex;
      align-items: center;
      cursor: pointer;
      .number {
        margin-left: 16px;
        font-family: Actor;
        font-size: 40px;
        width: 30px;
        line-height: 48px;
        letter-spacing: 2px;
        color: #e5e5e5;
        text-transform: uppercase;
      }
      .accord-text {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-left: 18px;
        transition: font-size 0.4s ease-out;
      }

      .accordion-button {
        border: 1.5px solid $colorTextlinks;
        position: relative;
        width: 14px;
        height: 14px;
        background-color: white;
        box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3);
        border-radius: 50%;
        cursor: pointer;
        &::after {
          content: "";
          width: 7px;
          height: 1px;
          position: absolute;
          background-color: $colorTextlinks;
          top: 50%;
          left: 21%;
        }
        &:hover::after {
          background-color: $hoverColorLink;
          transition: 800ms background-color;
        }
        &::before {
          content: "";
          width: 7px;
          height: 1px;
          position: absolute;
          background-color: $colorTextlinks;
          top: 50%;
          left: 20%;
          transform: rotate(90deg);
        }
        &:hover::before {
          background-color: $hoverColorLink;
          transition: 800ms background-color;
        }
        &:hover {
          border: 1.5px solid $hoverColorLink;
          transition: 800ms border;
        }
      }
    }
  }

  #head-tips-img {
    width: 90px;
    height: 19px;
    margin-top: 10px;
    margin-bottom: 18px;
  }

  #head-glossary {
    width: 114px;
  }
  .glossary-contaner {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 11px;
    border-top: 1px solid #b2b2b2;
    border-radius: 1px;
  }
}

.section {
  background: linear-gradient(45deg, #e0e0e0, #ffffff);
  font-family: Aclonica;
  padding-top: 1px;
  .section-wrapper{
    .slider-container {
      max-width: 442px;
      margin: 24px 20px 0 20px;
      background-color: white;
      box-shadow: 0px 12px 24px #e5e5e5;
      border-radius: 5px;
      display: flex;
      .slider-head {
        margin: 40px 75px 40px 60px;
        flex-basis: 65%;
        .sliderItem {
          position: relative;
          font-size: 16px;
          line-height: 32px;
          span {
            cursor: pointer;
            color: $hoverColorLink;
          }
          &:hover span {
            color: $colorTextlinks;
            transition: 800ms color;
          }
        }
      }
      .slider-button-container {
        display: flex;
        flex-direction: column;
        margin-left: -45px;
  
        button {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: white;
          border: 1px solid $colorTextlinks;
          display: flex;
          align-items: stretch;
          padding-bottom: -30px;
          padding-bottom: -5px;
          padding-top: 0px;
          margin-top: 16px;
          position: relative;
          cursor: pointer;
  
          &::after {
            content: "";
            width: 6px;
            height: 6px;
            border-right: 2px solid $colorTextlinks;
            border-bottom: 2px solid $colorTextlinks;
            position: absolute;
            transform: rotate(-50deg);
            top: 4px;
            left: 5px;
          }
  
          &::before {
            content: "";
            width: 8px;
            height: 2px;
            background-color: $colorTextlinks;
            position: absolute;
            top: 45%;
            left: 21%;
          }
          &:hover {
            border: 1px solid $hoverColorLink;
            transition: 800ms border;
          }
          &:hover::after {
            border-right: 2px solid $hoverColorLink;
            border-bottom: 2px solid $hoverColorLink;
            transition: 800ms border-right;
            transition: 800ms border-bottom;
          }
          &:hover::before {
            background-color: $hoverColorLink;
            transition: 800ms background-color;
          }
        }
  
        .rotate-arrow {
          transform: rotate(180deg);
        }
      }
    }
  
    .slider-text-container {
      margin: 32px 24px 0 20px;
      padding-bottom: 24px;
      p {
        padding-bottom: 24px;
        margin: 0 0 0 20px;
        font-family: Actor;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #1a1a1a;
      }
      span {
        font-size: 16px;
        line-height: 24px;
        color: #191919;
      }
      .slider-text {
        display: flex;
        max-width: 442px;
        padding-left: 16px;
        border-left: 1.5px solid $colorTextlinks;
      }
    }
  }
  
}

#head-FAQs {
  width: 110px;
  height: 18px;
}

.more-questions {
  margin: 20px 0 24px 0;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $colorTextlinks;
  font-family: Acme;
  &:hover {
    color: $hoverColorLink;
    transition: 800ms color;
  }
}

.faqs-container {
  min-width: 335px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0px 20px 0px 20px;
  .head-FAQs-wrapper{
    border-top: 1px solid #b2b2b2;
    border-radius: 1px;
    width: 100%;
    padding-top: 19px;
  }
}

.faqs-accordion-container {
  font-family: Aclonica;
  .panel {
    display: flex;
    padding: 0 20px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    span {
      font-size: 40px;
      line-height: 48px;
      margin-right: 25px;
      color: #e5e5e5;
    }
    .answer {
      margin: auto 0;
      flex-basis: 60%;
      font-size: 14px;
      line-height: 24px;
      color: #191919;
    }
  }

  .head-accordion-Faqs {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    min-height: 114px;
    span:first-child {
      font-size: 40px;
      line-height: 48px;
      margin-right: 25px;
      color: #e5e5e5;
    }

    .accordion-button {
      width: 20px;
      height: 20px;
      border-bottom: 1.5px solid $colorTextlinks;
      border-left: 1.5px solid $colorTextlinks;
      background: white;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      transition: transform 0.8s ease-in-out;
      cursor: pointer;
      &:hover {
        border-bottom: 1.5px solid $hoverColorLink;
        border-left: 1.5px solid $hoverColorLink;
        transition: 800ms border-left;
        transition: 800ms border-bottom;
      }
    }

    .question {
      flex-basis: 87%;
      color: #191919;
    }
  }
}

footer {
  background-color: #f2f2f2;
  min-width: 375px;
  width: 100%;
  font-family: Aclonica;
  .about-company {
    display: flex;
    flex-direction: column;
    width: 100%;
    .link-company {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 24px 0 0 23px;
      li{
        a {
          font-size: 12px;
          line-height: 24px;
          color: $hoverColorLink;
          margin-top: 12px;
          text-decoration: none;
        }
        span {
          font-size: 16px;
          line-height: 24px;
          color: $hoverColorLink;
          margin-bottom: 20px;
        }
      }
      
    }
    .address {
      display: flex;
      flex-direction: column;
      padding: 8px 0 8px 23px;
      border-top: 2px solid $colorTextlinks;
      p {
        font-size: 16px;
        line-height: 36px;
        color: $hoverColorLink;
        margin: 0;
      }
      span {
        font-size: 16px;
        line-height: 24px;
        color: $hoverColorLink;
      }
      .phone{
        font-size: 16px;
        line-height: 24px;
        color: $hoverColorLink;
      }
      
      .view-map {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: $colorTextlinks;
        &:hover {
          color: $hoverColorLink;
          transition: 800ms color;
        }
      }
    }
  }
  .social {
    border-top: 1.5px solid #b2b2b2;
    margin-top: 12px;
    padding-top: 20px;
    text-align: center;
    
    .conteiner-social-icons {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
      padding-left: 0;
      .twitter {
        cursor: pointer;
        display: inline-block;
        width: 30px;
        height: 24px;
        background-image: url(../image/twitter.png);
        background-position: 0 0;
        &:hover {
          background-position: 30px 0;
          transition: 300ms background-position;
        }
      }
      .facebook {
        cursor: pointer;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url(../image/facebook.png);
        background-position: 0 0;
        &:hover {
          background-position: 25px 0;
          transition: 300ms background-position;
        }
      }
      .youtube {
        cursor: pointer;
        display: inline-block;
        width: 32px;
        height: 23px;
        background-image: url(../image/youtube.png);
        background-position: 0 0;
        &:hover {
          background-position: 32px 0;
          transition: 300ms background-position;
        }
      }
      .in {
        cursor: pointer;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url(../image/in.png);
        background-position: 0 0;
        &:hover {
          background-position: 25px 0;
          transition: 300ms background-position;
        }
      }
    }
  }
  .skout-bottom {
    width: 105px;
    height: 38px;
    margin-bottom: 28px;
  }
}

@import "media";
