.wrapperHeaderPost{
    display: flex;
    justify-content: space-between;
}

p{
    margin: 0;
}

.wrapperPost{
    background-color: #d6eee8;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}


.btnLike {
    background-color: transparent;
    width: 40px;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 0.5px solid #2e937a;
    border-radius: 5px;
    cursor: pointer;
}

.btnLike span {
    padding-right: 5px;
}

.btnLike:hover { 
    border: 0.5px solid #e59846;
}

.btnLike::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 6px;
    border: 0.5px solid #2e937a;
    background-color: #2e937a;
    transform: rotate(45deg);
    border-radius: 25px 0px 0px 25px;
    top: 8px;
    right: 19px;
}

.btnLike::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 6px;
    border: 0.5px solid #2e937a;
    background-color: #2e937a;
    transform: rotate(135deg);
    border-radius: 25px 0px 0px 25px;
    right: 15px;
    top: 8px;
}

.btnLike:hover::after {
    border: 0.5px solid #e59846;
    background-color: #e59846;
}

.btnLike:hover::before { 
    border: 0.5px solid #e59846;
    background-color: #e59846;
}

btnFavoriteLike{
    color: red;
    background: red;
}

.wrapper{
    display: flex;
}

.wrapperBodyPost{
    border: 1px solid #2e937a;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.titlePost{
    font-size: 22px;
    text-decoration: underline; 
    margin: 0 0 10px 0;

}

.likeImage{
   min-width: 20px;
   min-height: 20px;
}

.userName{
    text-decoration: none;
    color: #2e937a;
    font-weight: bold;
}

.wrapperDatePost {
    margin-left: 20px;
}

.date {
    color: #2e937a;
}

.readMore {
    margin-top: 5px;
    color: #2e937a;
    text-decoration: none;
}

.readMore:hover {
    text-decoration: underline;
    font-weight: bold;
}

.body{
    font-size: 22px;
    text-decoration: underline; 
}

.description{
    font-size: 18px;
}

.tag {
    color: #2e937a;
    text-align: end;
}

.btnEdit {
    width: 100px;
    min-height: 50px;
    background-color: #fbeee0;
    border: none;
    color: #e59846;
    border-radius: 15px;
    cursor: pointer;
}

.btnEdit:hover {
    background-color: #e59846;
    color: #fbeee0;
}

.btnDelete {
    width: 100px;
    min-height: 50px;
    background-color: #eba2a2;
    border: none;
    color: #e55e46;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.btnDelete:hover {
    background-color: #e55e46; 
    color: #eba2a2;
}
