.wrapperHeaderPost{
    display: flex;
    justify-content: space-between;
}

.wrapperPost{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.wrapperDatePost p{
    margin: 0 0 0 20px;
}

.btnLike{
    width: 30px;
    height: 20px;
}

.wrapper{
    display: flex;
}

.wrapperBodyPost{
    border: 1px solid grey;
    padding: 10px;
    margin-top: 20px;
}

.titlePost{
    margin: 0 0 10px 0;

}