# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
/css
/node_modules
2/node_modules
2/css
1/node_modules
1/css
3/T1/node_modules
3/T1/css
3/T2/node_modules
3/T2/css
3/T3/node_modules
3/T3/css
3/T4/node_modules
3/T4/css
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
