@import "vars";
@import "fonts";
@import "mixins";

.accordions-container {
    @include wrapper;
    padding-bottom: 24px;
    min-width: 335px;
    width: 100%;
    font-family: Aclonica, Arial, Helvetica, sans-serif;
  
    &-anchor-top {
        padding-top: 10px;
        padding-bottom: 25px;
        border-top: 1px solid $color-anchors;
        border-radius: 1px;
        @include anchor-skout;
        #head-tips {
            @include anchor-item;
        }
    }
  
    .accord-container {
        min-height: 54px;
        border-top: 1px solid $color-text-links;
        .panel {
            padding: 0 18px;
            color: $color-text-dark;
            background-color: $color-text-primary;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease-out;
            .main-icon {
                margin: auto;
                display: block;
            }
            .bottom-info {
                display: flex;
                align-items: flex-start;
                .bottom-info-img {
                    margin: 11px 20px 0 0;
                }
                .bottom-info-text {
                    @include text-small;
                    margin: 11px 0 23px;
                    color: $color-link-hover;
                }
            }
        }
        .head-accordion {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0;
            border: 0;
            background-color: $color-text-primary;
            width: 100%;
            font-family: Aclonica, Arial, Helvetica, sans-serif;
            text-align: start;
            .number {
                @include text-size(40px, 48px);
                @include text-type;
                margin: 0 16px;
                font-family: Actor, Arial, Helvetica, sans-serif;
                min-width: 30px;
                color: $color-accord-letter;
            }
            .accord-text {
                @include text-medium();
                width: 100%;
                transition: font-size 0.4s ease-out;
            }
            .accordion-button {
                border: 1.5px solid $color-text-links;
                position: relative;
                min-width: 14px;
                min-height: 14px;
                background-color: $color-text-primary;
                box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3);
                border-radius: 50px;
                cursor: pointer;
                &::after {
                    @include accordion-button;
                    transform: translate(-50%, -50%);
                }
                &:hover::after {
                    background-color: $color-link-hover;
                    transition: 800ms background-color;
                }
                &::before {
                    @include accordion-button;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
                &:hover::before {
                    background-color: $color-link-hover;
                    transition: 800ms background-color;
                }
                &:hover {
                    border: 1.5px solid $color-link-hover;
                    transition: 800ms border;
                }
            }
        }
    }
    &-anchor-bottom {
        margin-top: 24px;
        padding-top: 10px;
        border-top: 1px solid $color-anchors;
        border-radius: 1px;
        @include anchor-skout;
        #head-glossary {
            @include anchor-item;
        }
    }
}