@font-face{
    font-family: 'Actor';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Actor-Regular.woff2') format('woff2'),
    url('../fonts/Actor-Regular.woff') format('woff');
}

@font-face{
    font-family: 'Acme';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Acme-Regular.woff2') format('woff2'),
    url('../fonts/Acme-Regular.woff') format('woff');
}

@font-face{
    font-family: 'Aclonica';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Aclonica-Regular.woff2') format('woff2'),
    url('../fonts//Aclonica-Regular.woff') format('woff');
}