@import "vars";
@import "fonts";
@import "mixins";

.hamburger-container {
    .hamburger-icon {
        min-width: 24px;
        min-height: 18px;
        position: relative;
        border: 0;
        background-color: transparent;
        cursor: pointer;
            &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 2px;
            background-color: $color-text-primary;
            left: 0;
            top: 0;
            box-shadow: 0 8px 0 0 $color-text-primary, 0 16px 0 0 $color-text-primary;
            transition: all 1s;
            &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 1px;
                left: 0;
                top: 0;
                transition: all 1s;
            }
        }
    }
}

.header-text {
    margin: 30px auto 0;
    text-align: center;
    max-width: 123px;
    font-family: Actor, Arial, Helvetica, sans-serif;
        .header-text-value {
        @include text-size(40px, 56px);
        @include text-type;
        color: $color-text-primary;
    }
}
  
.logo {
    @include text-type;
    color: $color-text-primary;
    text-decoration: none;
    min-width: 92px;
    min-height: 20px;
    font-size: 20px;
    font-family: Actor, Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}
  
.header {
    background: linear-gradient(45deg, #13c3e7, #01f86c);
    width: 100%;
    .container {
        @include wrapper;
        min-height: 210px;
        margin: auto;
        .empty-element {
            min-height: 80px;
        }
    }
}

.container-header-menu {
    top: 75px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 0;
    left: 0;
    background: $color-text-primary;
    z-index: 2;
    font-family: Acme, Arial, Helvetica, sans-serif;
    transition: left 600ms ease;
    .header-menu {
        cursor: pointer;
        margin: 0;
        list-style: none;
        flex-direction: column;
        display: flex;
        margin-top: 28px;
        padding: 0;
        .header-menu-item {
            @include text-small;
            @include text-type;
            padding: 12px;
            text-align: center;
            position: relative;
            .link {
                color: $color-text-links;
                text-decoration: none;
                &:hover {
                    color: $color-link-hover;
                    transition: 800ms color;
                }
            }
        }
        .active-link {
            &::after {
                content: "";
                position: absolute;
                margin-top: 20px;
                left: 33px;
                width: 40px;
                height: 2px;
                background-color: $color-text-links;
            }
        }
    }
    .enter-buttons {
        flex-direction: column;
        display: flex;
        position: fixed;
        bottom: 0;
        margin-bottom: 40px;
        .header-button {
            text-transform: uppercase;
            font-family: Acme, Arial, Helvetica, sans-serif;
            margin-top: 16px;
            min-width: 180px;
            min-height: 40px;
            border-radius: 20px;
            border: 1.5px solid $color-text-links;
            background-color: $color-text-primary;
            color: $color-text-links;
            cursor: pointer;
            &:hover {
                border: 1.5px solid $color-link-hover;
                color: $color-link-hover;
                transition: 800ms color;
                transition: 800ms border;
            }
        }
    }
}

.is-show-menu {
    left: 1400px;
    transition: left 600ms ease-in;  
}
  
.added-empty-field{
    padding-top: 78px;
}

.back-icon {
    width: 24px;
    height: 18px;
    position: relative;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: $color-text-primary;
        left: 0;
        top: 5px;
        transform: rotate(45deg);
        transition: all 1s;
    }
    &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: $color-text-primary;
        left: 0;
        top: 5px;
        transform: rotate(135deg);
        transition: all 1s;
    }
}

.is-hidden {
    overflow: hidden;
}

@media (min-width: 768px) {
    .header-text {
        max-width: 270px;
    }
    .header {
        .container {
            padding: 28px 50px 0 50px;
        }
    }
}

@media (min-width: 1200px) {
    .hamburger-container {
        display: none;
        position: absolute;
    }
    .logo {
        margin: auto 24px auto 0;
    }
    .container-header-menu {
        display: flex;
        position: static;
        background-color: transparent;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .header-menu {
            padding: 0;
            width: 100%;
            flex-direction: row;
            margin-top: 0;
            display: flex;
            justify-content: space-between;
                .header-menu-item {
                    margin-bottom: 0;
                    position: relative;
                    min-width: 85px;
                .link {
                    color: $color-text-primary;
                    &:hover {
                        color: $color-link-hover;
                    }
                }
            }
            .active-link {
                &::after {
                    content: "";
                    position: absolute;
                    margin-top: 20px;
                    left: 20px;
                    width: 40px;
                    height: 2px;
                    background-color: $color-text-primary;
                }
            }
        }
        .enter-buttons {
            position: static;
            flex-direction: row;
            margin-bottom: 0;
            .header-button {
                margin: 0 0 0 20px;
                background-color: transparent;
                border: 1.5px solid $color-text-primary;
                color: $color-text-primary;
                &:hover {
                    color: $color-link-hover;
                    border: 1.5px solid $color-link-hover;
                }
            }
        }
    }
    .header {
        .container {
            min-height: 300px;
        }
    }
    .sticky-main {
        background-color: $color-text-primary;
        transition: background-color 600ms;
        max-width: 1440px;
        padding: 24px 50px;
        z-index: 1;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        .logo {
            color: $color-link-hover;
        }
        .container-header-menu {
            .header-menu {
                .header-menu-item {
                    .link {
                        color: $color-link-hover;
                    }
                    &:hover {
                        color: $color-text-links;
                    }
                }
            }
            .enter-buttons {
                .header-button {
                    color: $color-link-hover;
                    border: 1px solid $color-link-hover;
                    &:hover {
                        color: $color-text-links;
                        border: 1px solid $color-text-links;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .logo {
        min-width: 110px;
        min-height: 24px;
        font-size: 24px;
        margin-right: 130px;
    }
    .header {
        .container {
            position: relative;
            min-height: 500px;
            padding: 28px 90px 0 90px;
        }
    }
    .header-text {
        max-width: none;
        margin: 102px auto 0;
        .header-text-value {
            @include text-very-large;
        }
    }
    .sticky-main {
        padding: 28px 90px 28px 90px;
    }
}