@import "vars";
@import "mixins";
@media (min-width: 1440px) {
  .logo {
    min-width: 110px;
    min-height: 24px;
    font-size: 24px;
    margin-right: 130px;
  }

  .header {
    .container {
      position: relative;
      min-height: 500px;
      padding: 28px 90px 0 90px;
    }
  }

  .sticky-main {
    padding: 28px 90px 28px 90px;
  }

  .header-text {
    max-width: none;
    margin: 102px auto 0;
    .header-text-value {
      @include text-very-large;
    }
  }

  .tabs {
    max-width: 770px;
    min-height: 80px;
    margin-top: -35px;
    .anchor {
      padding: 28px 100px;
      &:first-child {
        &::after {
          height: 40px;
          top: 20px;
          left: 235px;
        }
      }
      &:last-child {
        &::after {
          height: 40px;
          top: 20px;
          left: 525px;
        }
      }
    }
  }

  .accordions-container {
    margin: auto;
    padding: 100px 136px 50px;
    &-anchor-top {
      padding-top: 20px;
      padding-bottom: 100px;
      font-size: 38px;
      #head-tips {
        margin-left: 8px;
      }
    }
    .accord-container {
      min-height: 151px;
      position: relative;
      .head-accordion {
        justify-content: space-between;
        .number {
          @include text-very-large;
          margin: 0 110px 0 50px;
          min-width: 50px;
        }
        .accord-text {
          @include text-size(24px, 36px);
        }
        .accordion-button {
          min-width: 35px;
          min-height: 35px;
          &::after {
            width: 20px;
            height: 2px;
          }
          &::before {
            width: 20px;
            height: 2px;
          }
        }
      }
      .panel {
        display: flex;
        .main-icon {
          margin: 42px 0 0;
        }
        .footer-accordion {
          font-size: 16px;
          margin-bottom: 63px;
        }
        .footer-accordion-container {
          max-width: 500px;
          margin-left: 135px;
        }
      }
    }
    &-anchor-bottom {
      margin-top: 160px;
      padding-top: 20px;
      font-size: 38px;
      #head-glossary {
        margin-right: 8px;
      }
    }
  }

  .accordion-active {
    min-width: 35px;
    min-height: 35px;
    &::after {
      width: 20px;
      height: 2px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .accord-text-active {
    @include text-size(42px, 54px);
    max-width: 175px;
    margin-top: 57px;
  }

  .slider-block {
    .slider-wrapper {
      display: flex;
      margin: auto;
      padding: 60px 0;
      .active-slider-link {
        &::before {
          right: 200px;
        }
      }
      .slider-container {
        .slider-head {
          margin: 60px 73px 29px 151px;
        }
        .slider-button-container {
          margin-right: 19px;
          .slider-button {
            min-width: 25px;
            min-height: 25px;
            margin-top: 20px;
            &::after {
              width: 10px;
              height: 10px;
              top: 7px;
              left: 9px;
            }
            &::before {
              top: 11px;
              width: 15px;
              height: 2px;
            }
          }
        }
      }
      .slider-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: auto;
        .slider-title {
          @include text-size(90px, 120px);
          padding-bottom: 70px;
          margin: 0;
        }
        .slider-text {
          padding-left: 40px;
          margin-left: 80px;
          .slider-span {
            @include text-size(24px, 36px);
          }
        }
      }
    }
  }
  .active-slider-link {
    &::before {
      min-width: 105px;
      margin-right: 15px;
    }
  }

  .faqs-container {
    padding: 160px 136px 0;
    margin: auto;
    &-anchor {
      font-size: 38px;
      padding-top: 20px;
      #head-FAQs {
        margin-right: 8px;
      }
    }
  }

  .faqs-accordion-container {
    margin: auto;
    padding: 100px 136px;
    .head-accordion-Faqs {
      min-height: 196px;
      .accordion-letter {
        @include text-very-large;
        margin-right: 100px;
      }
      .question {
        @include text-size(24px, 36px);
      }
      .accordion-button {
        margin-right: 80px;
        min-width: 30px;
        min-height: 30px;
      }
    }
    .panel {
      padding: 0;
      .panel-letter {
        @include text-very-large;
        margin-right: 100px;
      }

      .answer {
        @include text-medium();
      }
    }
    .more-questions {
      padding-top: 50px;
    }
  }

  .footer {
    .footer-wrapper {
      margin: auto;
      padding: 80px 135px 100px;
      .about-company {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .link-company {
          .link-company-item {
            margin-bottom: 30px;
            .link-company-link {
              min-width: 170px;
              margin-top: 0;
            }
          }
        }
        .address-container {
          margin: 0;
          .address {
            min-height: 118px;
            padding: 20px 0 0;
            flex-direction: row;
            justify-content: space-between;
            .address-title {
              font-size: 24px;
              margin-right: 230px;
            }
            .address-text {
              margin-right: 30px;
            }
            .phone {
              margin-right: 30px;
            }
            .view-map {
              @include text-medium();
            }
          }
        }
      }
      .social {
        padding-top: 27px;
        display: flex;
        justify-content: space-between;
        li {
          margin-right: 50px;
        }
        .skout-bottom {
          min-width: 168px;
          min-height: 58px;
        }
      }
    }
  }
}
