@import "vars";
@import "fonts";
@import "mixins";

body {
  min-width: 375px;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
::before {
  box-sizing: inherit;
}

.hamburger-container {
  .hamburger-icon {
    min-width: 24px;
    min-height: 18px;
    position: relative;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $color-text-primary;
      left: 0;
      top: 0;
      box-shadow: 0 8px 0 0 $color-text-primary, 0 16px 0 0 $color-text-primary;
    }
  }
}

.header-text {
  margin: 30px auto 0;
  text-align: center;
  max-width: 123px;
  font-family: Actor;
  .header-text-value {
    @include text-size(40px, 56px);
    @include text-type;
    color: $color-text-primary;
  }
}

.logo {
  @include text-type;
  color: $color-text-primary;
  text-decoration: none;
  min-width: 92px;
  min-height: 20px;
  font-size: 20px;
  font-family: Actor;
  font-weight: 900;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header {
  background: linear-gradient(45deg, #13c3e7, #01f86c);
  width: 100%;
  .container {
    @include wrapper;
    min-height: 210px;
    margin: auto;
    .empty-element {
      min-height: 80px;
    }
  }
}

.container-header-menu {
  top: 62px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  right: 0;
  left: 0;
  background: $color-text-primary;
  z-index: 2;
  font-family: Acme;
  .header-menu {
    cursor: pointer;
    margin: 0;
    list-style: none;
    flex-direction: column;
    display: flex;
    margin-top: 28px;
    padding: 0;
    .header-menu-item {
      @include text-small;
      @include text-type;
      padding: 12px;
      text-align: center;
      position: relative;
      .link {
        color: $color-text-links;
        text-decoration: none;
        &:hover {
          color: $color-link-hover;
          transition: 800ms color;
        }
      }
    }
    .active-link {
      &::after {
        content: "";
        position: absolute;
        margin-top: 20px;
        left: 33px;
        width: 40px;
        height: 2px;
        background-color: $color-text-links;
      }
    }
  }

  .enter-buttons {
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
    .header-button {
      text-transform: uppercase;
      font-family: Acme;
      margin-top: 16px;
      min-width: 180px;
      min-height: 40px;
      border-radius: 20px;
      border: 1.5px solid $color-text-links;
      background-color: $color-text-primary;
      color: $color-text-links;
      cursor: pointer;
      &:hover {
        border: 1.5px solid $color-link-hover;
        color: $color-link-hover;
        transition: 800ms color;
        transition: 800ms border;
      }
    }
  }
}

.tabs {
  z-index: 1;
  max-width: 335px;
  min-height: 40px;
  margin: auto;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Acme;
  margin-top: -12px;
  box-shadow: 0px 12px 24px #f2f2f2;
  border: 0;
  border-top: 2.5px solid $color-text-links;
  border-radius: 5px 5px 0 0;
  background: $color-text-primary;
  position: relative;
  .anchor {
    @include text-small;
    @include text-type;
    color: $color-link-hover;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 30px;
    &:first-child {
      &::after {
        content: "";
        position: absolute;
        border-left: 1.5px solid $color-accord-letter;
        height: 20px;
        top: 10px;
        left: 95px;
      }
    }
    &:last-child {
      &::after {
        content: "";
        position: absolute;
        border-left: 1.5px solid $color-accord-letter;
        height: 20px;
        top: 10px;
        left: 230px;
      }
    }
  }
}

.accordions-container {
  @include wrapper;
  padding-bottom: 24px;
  min-width: 335px;
  width: 100%;
  font-family: Aclonica;

  .accordions-container-anchor-top {
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid $color-anchors;
    border-radius: 1px;
    @include anchor-skout;
    #head-tips {
      @include anchor-item;
    }
  }

  .accord-container {
    min-height: 54px;
    border-top: 1px solid $color-text-links;
    .panel {
      padding: 0 18px;
      color: $color-text-dark;
      background-color: $color-text-primary;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;

      .main-icon {
        margin: auto;
        display: block;
      }
      .bottom-info {
        display: flex;
        align-items: flex-start;
        .bottom-info-img {
          margin: 11px 20px 0 0;
        }
        .bottom-info-text {
          @include text-small;
          margin: 11px 0 23px;
          color: $color-link-hover;
        }
      }
    }

    .head-accordion {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0;
      border: 0;
      background-color: $color-text-primary;
      width: 100%;
      font-family: Aclonica;
      text-align: start;
      .number {
        @include text-size(40px, 48px);
        @include text-type;
        margin: 0 16px;
        font-family: Actor;
        min-width: 30px;
        color: $color-accord-letter;
      }
      .accord-text {
        @include text-medium();
        width: 100%;
        transition: font-size 0.4s ease-out;
      }

      .accordion-button {
        border: 1.5px solid $color-text-links;
        position: relative;
        min-width: 14px;
        min-height: 14px;
        background-color: $color-text-primary;
        box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3);
        border-radius: 50px;
        cursor: pointer;
        &::after {
          content: "";
          width: 7px;
          height: 1px;
          position: absolute;
          background-color: $color-text-links;
          top: 5.5px;
          left: 2px;
        }
        &:hover::after {
          background-color: $color-link-hover;
          transition: 800ms background-color;
        }
        &::before {
          content: "";
          width: 7px;
          height: 1px;
          position: absolute;
          background-color: $color-text-links;
          top: 6px;
          left: 2px;
          transform: rotate(90deg);
        }
        &:hover::before {
          background-color: $color-link-hover;
          transition: 800ms background-color;
        }
        &:hover {
          border: 1.5px solid $color-link-hover;
          transition: 800ms border;
        }
      }
    }
  }
  .accordions-container-anchor-bottom {
    margin-top: 24px;
    padding-top: 10px;
    border-top: 1px solid $color-anchors;
    border-radius: 1px;
    @include anchor-skout;
    #head-glossary {
      @include anchor-item;
    }
  }
}

.slider-block {
  background: linear-gradient(45deg, #e0e0e0, $color-text-primary);
  font-family: Aclonica;
  .slider-wrapper {
    @include wrapper;
    .active-slider-link {
      &::before {
        content: "";
        position: absolute;
        width: 46px;
        height: 1px;
        background-color: $color-text-links;
        bottom: 16px;
        right: 165px;
      }
    }
    .slider-container {
      max-width: 335px;
      background-color: $color-text-primary;
      box-shadow: 0px 12px 24px $color-accord-letter;
      border-radius: 5px;
      display: flex;
      .slider-head {
        margin: 40px 75px 40px 60px;
        width: 100%;
        .slider-item {
          @include text-size(16px, 32px);
          position: relative;
          .slider-item-text {
            cursor: pointer;
            color: $color-link-hover;
          }
          &:hover .slider-item-text {
            color: $color-text-links;
            transition: 800ms color;
          }
        }
      }
      .slider-button-container {
        display: flex;
        flex-direction: column;
        margin-right: 25px;

        .slider-button {
          display: flex;
          min-width: 16px;
          min-height: 16px;
          border-radius: 20px;
          background: $color-text-primary;
          border: 1px solid $color-text-links;
          align-items: stretch;
          padding-top: 0px;
          margin-top: 16px;
          position: relative;
          cursor: pointer;

          &::after {
            content: "";
            width: 6px;
            height: 6px;
            border-right: 2px solid $color-text-links;
            border-bottom: 2px solid $color-text-links;
            position: absolute;
            transform: rotate(-50deg);
            top: 4px;
            left: 5px;
          }

          &::before {
            content: "";
            width: 8px;
            height: 2px;
            background-color: $color-text-links;
            position: absolute;
            top: 6px;
            left: 2px;
          }
          &:hover {
            border: 1px solid $color-link-hover;
            transition: 800ms border;
          }
          &:hover::after {
            border-right: 2px solid $color-link-hover;
            border-bottom: 2px solid $color-link-hover;
            transition: 800ms border-right;
            transition: 800ms border-bottom;
          }
          &:hover::before {
            background-color: $color-link-hover;
            transition: 800ms background-color;
          }
        }

        .rotate-arrow {
          transform: rotate(180deg);
        }
      }
    }

    .slider-text-container {
      margin: 32px 24px 0 20px;
      padding-bottom: 24px;
      .slider-title {
        @include text-size(32px, 40px);
        @include text-type;
        font-weight: normal;
        padding-bottom: 24px;
        margin: 0 0 0 20px;
        font-family: Actor;
        color: $color-text-dark;
      }
      .slider-text {
        display: flex;
        max-width: 442px;
        padding-left: 16px;
        border-left: 1.5px solid $color-text-links;
        .slider-span {
          @include text-medium();
          color: $color-text-dark;
        }
      }
    }
  }
}

.more-questions {
  @include text-small;
  @include text-type;
  display: block;
  padding: 20px 0 24px;
  text-align: center;
  color: $color-text-links;
  font-family: Acme;
  &:hover {
    color: $color-link-hover;
    transition: 800ms color;
  }
}

.faqs-container {
  min-width: 335px;
  @include wrapper;
  .faqs-container-anchor {
    @include anchor-skout;
    border-top: 1px solid $color-anchors;
    border-radius: 1px;
    width: 100%;
    padding-top: 10px;
    #head-FAQs {
      @include anchor-item;
    }
  }
}

.faqs-accordion-container {
  @include wrapper;
  font-family: Aclonica;
  .panel {
    display: flex;
    padding: 0 20px;
    color: $color-text-dark;
    background-color: $color-text-primary;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    .panel-letter {
      @include text-size(40px, 48px);
      margin-right: 25px;
      color: $color-accord-letter;
    }
    .answer {
      @include text-size(14px, 24px);
      margin: auto 0;
      color: $color-text-dark;
    }
  }

  .head-accordion-Faqs {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 114px;
    border: 0;
    padding: 0;
    background: $color-text-primary;
    width: 100%;
    text-align: start;
    .accordion-letter {
      @include text-size(40px, 48px);
      margin-right: 25px;
      color: $color-accord-letter;
      font-family: Actor;
    }

    .accordion-button {
      min-width: 20px;
      min-height: 20px;
      border-bottom: 1.5px solid $color-text-links;
      border-left: 1.5px solid $color-text-links;
      background: $color-text-primary;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      transition: transform 0.8s ease-in-out;
      cursor: pointer;
      &:hover {
        border-bottom: 1.5px solid $color-link-hover;
        border-left: 1.5px solid $color-link-hover;
        transition: 800ms border-left;
        transition: 800ms border-bottom;
      }
    }
    .rotate {
      transform: rotate(135deg);
      transition: transform 0.8s ease-in-out;
    }

    .question {
      width: 100%;
      color: $color-text-dark;
      font-family: Aclonica;
    }
  }
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
  font-family: Aclonica;
  .footer-wrapper {
    @include wrapper;
    padding-bottom: 25px;
    .about-company {
      display: flex;
      flex-direction: column;
      width: 100%;
      .link-company {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        .link-company-item {
          .link-company-link {
            @include text-small;
            color: $color-link-hover;
            margin-top: 12px;
            text-decoration: none;
          }
          #Call {
            .tel {
              @include text-medium();
              color: $color-link-hover;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    .address-container {
      padding: 0;
      .address {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        border-top: 2px solid $color-text-links;
        .location {
          display: flex;
          flex-direction: column;
        }
        .address-title {
          @include text-size(16px, 36px);
          color: $color-link-hover;
          margin: 0;
        }
        .address-text {
          @include text-medium();
          color: $color-link-hover;
          font-style: normal;
        }
        .phone {
          @include text-medium();
          color: $color-link-hover;
          text-decoration: none;
        }

        .view-map {
          @include text-small;
          text-decoration: none;
          color: $color-text-links;
          &:hover {
            color: $color-link-hover;
            transition: 800ms color;
          }
        }
      }
    }
  }
  .social {
    border-top: 1.5px solid $color-anchors;
    padding-top: 20px;
    text-align: center;

    .conteiner-social-icons {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
      padding-left: 0;
      .twitter {
        @include social-icon(30px, 24px, url(../images/twitter.png));
        &:hover {
          @include social-icon-hover(30px);
        }
      }
      .facebook {
        @include social-icon(25px, 25px, url(../images/facebook.png));
        &:hover {
          @include social-icon-hover(25px);
        }
      }
      .youtube {
        @include social-icon(32px, 23px, url(../images/youtube.png));
        &:hover {
          @include social-icon-hover(32px);
        }
      }
      .in {
        @include social-icon(25px, 25px, url(../images/in.png));
        &:hover {
          @include social-icon-hover(25px);
        }
      }
    }
  }
  .skout-bottom {
    min-width: 105px;
    max-height: 38px;
  }
}
@import "active";
@import "tablet";
@import "media";
