@import "vars";
@import "mixins";
@media (min-width: 768px) {
  


  .slider-block {
    .slider-wrapper {
      display: flex;
      padding: 30px 20px 30px;
      .slider-container {
        width: 100%;
      }
      .slider-text-container {
        margin: auto;
        .slider-title {
          @include text-size(50px, 70px);
        }
        .slider-text {
          .slider-span {
            @include text-size(18px, 26px);
          }
        }
      }
    }
  }

  .more-questions {
    padding: 25px 0 0 0;
  }

  .faqs-container {
    padding: 60px 70px 0;
    &-anchor {
      font-size: 24px;
    }
  }

  .faqs-accordion-container {
    padding: 50px 70px 50px;
  }

  .footer {
    .footer-wrapper {
      padding: 60px 70px;
      .about-company {
        .address-container {
          margin: 30px 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {



  .slider-block {
    .slider-wrapper {
      .slider-container {
        max-width: 442px;
      }
      .active-slider-link {
        &::before {
          right: 270px;
        }
      }
    }
  }

  .faqs-container {
    &-anchor {
      font-size: 28px;
    }
  }

  .sticky {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
  }

  
}
