@import "vars";
@import "mixins";
@media (min-width: 768px) {
  .header-text {
    max-width: 270px;
  }

  .header {
    .container {
      padding: 28px 50px 0 50px;
    }
  }

  .tabs {
    min-width: 550px;
    min-height: 60px;
    margin-top: -20px;
    .anchor {
      padding: 18px 68px;
      &:first-child {
        &::after {
          height: 40px;
          top: 10px;
          left: 167px;
        }
      }
      &:last-child {
        &::after {
          height: 40px;
          top: 10px;
          left: 375px;
        }
      }
    }
  }

  .accordions-container {
    padding: 60px 70px 30px;
    .glossary-contaner {
      margin-top: 62px;
      font-size: 24px;
    }
    .skout-tips-container {
      font-size: 24px;
    }
  }

  .slider-block {
    .slider-wrapper {
      display: flex;
      padding: 30px 20px 30px;
      .slider-container {
        width: 100%;
      }
      .slider-text-container {
        margin: auto;
        .slider-title {
          @include text-size(50px,70px);
        }
        .slider-text {
          .slider-span {
            @include text-size(18px,26px);
          }
        }
      }
    }
  }

  .more-questions {
    padding: 25px 0 0 0;
  }

  .faqs-container {
    padding: 60px 70px 0;
    .head-FAQs-wrapper {
      font-size: 24px;
    }
  }

  .faqs-accordion-container {
    padding: 50px 70px 50px;
  }

  .footer {
    .footer-wrapper {
      padding: 60px 70px;
      .about-company {
        .address-container {
          margin: 30px 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .hamburger-container {
    display: none;
    position: absolute;
  }

  .logo {
    margin: auto 24px auto 0;
  }

  .container-header-menu {
    display: flex;
    position: static;
    background-color: transparent;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .header-menu {
      padding: 0;
      width: 100%;
      flex-direction: row;
      margin-top: 0;
      display: flex;
      justify-content: space-between;

      .header-menu-item {
        margin-bottom: 0;
        position: relative;
        min-width: 85px;
        .link {
          color: $color-text-primary;
          &:hover {
            color: $color-link-hover;
          }
        }
      }
      .active-link {
        &::after {
          content: "";
          position: absolute;
          margin-top: 20px;
          left: 20px;
          width: 40px;
          height: 2px;
          background-color: $color-text-primary;
        }
      }
    }
    .enter-buttons {
      position: static;
      flex-direction: row;
      margin-bottom: 0;
      .header-button {
        margin: 0 0 0 20px;
        background-color: transparent;
        border: 1.5px solid $color-text-primary;
        color: $color-text-primary;
        &:hover {
          color: $color-link-hover;
          border: 1.5px solid $color-link-hover;
        }
      }
    }
  }

  .header {
    .container {
      min-height: 300px;
    }
  }

  .accordions-container {
    .skout-tips-container {
      font-size: 28px;
    }
    .glossary-contaner {
      font-size: 28px;
    }
  }

  .slider-block {
    .slider-wrapper {
      .slider-container {
        max-width: 442px;
      }
      .active-slider-link {
        &::before {
          right: 270px;
        }
      }
    }
  }

  .faqs-container {
    .head-FAQs-wrapper {
      font-size: 28px;
    }
  }

  .sticky {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
  }

  .sticky-main {
    background-color: $color-text-primary;
    transition: background-color 600ms;
    max-width: 1440px;
    padding: 24px 50px;
    z-index: 1;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .logo {
      color: $color-link-hover;
    }
    .container-header-menu {
      .header-menu {
        .header-menu-item {
          .link {
            color: $color-link-hover;
          }
          &:hover {
            color: $color-text-links;
          }
        }
      }
      .enter-buttons {
        .header-button {
          color: $color-link-hover;
          border: 1px solid $color-link-hover;
          &:hover {
            color: $color-text-links;
            border: 1px solid $color-text-links;
          }
        }
      }
    }
  }
}
