@import "vars";
@import "fonts";
@import "mixins";
@import "active";

.wrapper-big-slaider {
  margin-top: 30px;
  padding-top: 30px;
  background: linear-gradient(15deg, #e0e0e0, #ffffff);
  .big-slider-container {
    min-height: 1085px;
    margin: auto;
    .slider-title-container {
      text-align: center;
      .slider-title {
        @include text-size-standart;
      }
    }
  }
}

.inner-wrapper {
  .container-dots {
    margin: 30px 0 30px 0;
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 10px 0 10px;
        list-style: none;
      }
      button {
        cursor: pointer;
        padding: 5px;
        position: relative;
        font-size: 0;
        border: 0;
        background-color: $color-bg-transparent;
        &::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          background-color: $colorTextlinks;
          border-radius: 20px;
          left: 2px;
          top: 2px;
        }
      }
      .slick-active {
        button {
          margin-top: 8px;
          border: 1px solid $colorTextlinks;
          min-width: 24px;
          min-height: 24px;
          border-radius: 20px;
          &::before {
            left: 8px;
            top: 8px;
          }
        }
      }
    }
  }
  .big-slider {
    padding: 0 20px 0 20px;
    .slider-image {
      text-align: center;
    }
    .slider-button {
      text-align: center;
      margin: 50px 0 50px 0;
      .btn {
        @include button-primary-first(
          180px,
          40px,
          $colorTextPrimary,
          $colorTextlinks
        );
        border: 0;

        &:hover {
          @include button-hover-shadow;
        }
      }
    }
    .slider-text-container {
      max-width: 400px;
      margin: auto;
      .slider-title {
        font-family: Acme;
        @include text-size(18px, 24px);
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $colorTextPrimaryDark;
        padding: 30px 0 0 0;
        display: block;
      }
      .slider-text {
        font-family: Aclonica;
        color: $colorTextPrimaryDark;
        @include text-size-small;
      }
    }
  }
}

@media (min-width: 768px) {
  .wrapper-big-slaider {
    padding-top: 60px;
    .big-slider-container {
      min-height: 1085px;
      .slider-title-container {
        .slider-title {
          @include text-size-medium;
        }
      }
    }
  }
  .inner-wrapper {
    .container-dots {
      margin: 45px 0 45px 0;
    }
  }
}

@media (min-width: 1440px) {
  .inner-wrapper {
    display: flex;
    flex-direction: row-reverse;
    .container-dots {
      margin: 0;
      .slick-dots {
        display: flex;
        flex-direction: column;
      }
    }
    .big-slider {
      min-width: 0px;
      padding: 0 0 0 70px;
      .slider-item {
        min-width: 0;
        display: flex;
        flex-direction: row-reverse;
      }
      .slider-image {
        min-width: 625px;
      }
      .slider-button {
        text-align: start;
      }
    }
  }

  .wrapper-big-slaider {
    padding-top: 120px;
    margin-top: 0;
    .big-slider-container {
      padding: 0 135px 0 135px;
      .slider-title-container {
        text-align: start;
        margin-bottom: 80px;
        .slider-title {
          @include text-size-large;
        }
      }
    }
  }
}