@import "vars";
@import "mixins";

.cybersecurity-container {
  @media (min-width: 768px) {
    padding: 28px 54px 50px;
  }
  @media (min-width: 1440px) {
    padding: 0px 15px 110px;
  }
}

.cybersecurity-title {
  @include text-size-standart;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    @include text-size-medium;
  }
  @media (min-width: 1400px) {
    margin-bottom: 80px;
    @include text-size-large;
    text-align: start;
  }
}

.cards-container {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  @media (min-width: 1440px) {
    padding-left: 70px;
    margin: auto;
  }
}

.card {
  margin-bottom: 30px;
  display: flex;
  max-width: 500px;
  min-height: 200px;
  box-shadow: 0px 12px 24px rgba(127, 127, 127, 0.3);
  border-radius: 5px;
  border-left: 5px solid $colorTextlinks;
  @media (min-width: 768px) {
    margin-right: 30px;
  }

  &-text-container {
    margin: 34px 25px 9px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Aclonica, Arial, Helvetica, sans-serif;
    color: $colorTextPrimaryDark;
    .card-title {
      @include text-size-standart;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .card-text {
      @include text-size(13px, 24px);
    }
  }
  
  .card-icon {
    align-items: center;
    display: flex;
  }
  
  .card-i {
    display: flex;
    position: relative;
    align-items: flex-end;
    &-note {
      display: flex;
      &:hover::after {
        opacity: 1;
        @include text-size(12px, 24px);
        font-family: Aclonica, Arial, Helvetica, sans-serif;
        background-color: $colorTextPrimary;
        border: 1px solid #b2b2b2;
        border-radius: 5px;
        top: 125px;
        left: -139px;
        color: $hoverColorLink;
        content: attr(note);
        padding: 5px 15px;
        position: absolute;
        min-width: 340px;
      }
      &::after {
        content: "";
        opacity: 0;
        background-color: $colorTextPrimary;
        transition: opacity 700ms;
      }
      .card-i-img {
        cursor: pointer;
        min-width: 21px;
        min-height: 21px;
        margin: 0 15px 15px 0;
        background-image: url(/2/images/Letter_i.png);
        background-size: contain;
      }
    }
  }
}

.cybersecurity-button {
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    margin-top: 30px;
  }
  @media (min-width: 1440px) {
    margin-top: 80px;
  }

  .btn {
    @include button-primary-first(230px,40px);
    border: 0;
  }
  .btn:hover {
    @include button-hover-shadow;
    position: relative;
    bottom: 3px;
  }
}


