@import "vars";
@import "mixins";


.main-double-slaider {
  @media (min-width: 768px){
    padding: 28px 54px 50px;
  }
  @media (min-width: 1440px){
    padding: 0 135px 100px;
  }
  
  .slider-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    .double-slider-icon {
      &-img {
        min-width: 240px;
        max-height: 120px;
        @media (min-width: 1440px){
          min-width: 340px;
          min-height: 200px;
        }
      }
    }

    .slider-text-container {
      margin: auto;
      text-align: center;
      @media (min-width: 768px) {
        max-width: 570px;
      }

      .slider-text {
        @include text-size(24px, 36px);
        font-family: Aclonica, Arial, Helvetica, sans-serif;
        display: block;
        padding: 20px 0;
        color: $hoverColorLink;
      }
      
      .author {
        display: block;          
        font-family: Acme, Arial, Helvetica, sans-serif;
        @include text-size(12px, 24px);
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $hoverColorLink;
        @media (min-width: 768px) {
          text-align: right;
        }
        @media (min-width: 1440px){
          margin-bottom: 0;
        }
      }
    }
  }
}

.wrapper-secondary-double-slaider {
  @media (min-width: 768px){
    padding: 28px 54px 50px;
  }
  @media (min-width: 1440px){
    padding: 0 135px 110px;
  }

  .slider-item {
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
    @media (min-width: 768px) {
      max-width: 120px;
      text-align: start;
    }
  }

  .slick-track {
    padding-bottom: 15px;
    border-bottom: 2px solid $colorLightSliderShadow;
    @media (min-width: 768px) {
      justify-content: space-between;
      transform: translate3d(0px, 0px, 0px) !important;
    }
  }

  .slick-list {
    @media (min-width: 1440px) {
      padding: 0 !important;
    }
  }

  .slick-current {
    opacity: 1;
    &::before {
      margin-left: 10px;
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100px;
      height: 5px;
      background-color: $colorTextlinks;
    }
  }
}