@import "vars";
@import "fonts";
@import "mixins";
@import 'active';

.wrapper-main-double-slaider {
  .main-double-slaider {
    margin: auto 20px auto 20px;
    .slider-item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      .double-slider-icon {
        .double-slider-icon-img {
          min-width: 240px;
          max-height: 120px;
        }
      }
      .slider-text-container {
        margin: auto;
        text-align: center;
        .slider-text {
          font-family: Aclonica;
          @include text-size(24px, 36px);
          color: $hoverColorLink;
        }
        .author {
          margin-top: 20px;
          margin-bottom: 70px;
          .author-fn-ln {
            font-family: Acme;
            @include text-size(12px, 24px);
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $hoverColorLink;
          }
        }
      }
    }
  }
}

.wrapper-secondary-double-slaider {
  margin: auto;
  padding: 0 20px 0 20px;
  .secondary-double-slaider {
    margin-bottom: 50px;
    .slider-item {
      cursor: pointer;
      opacity: 0.5;
      text-align: center;
    }
    .slick-track {
      padding-bottom: 15px;
      border-bottom: 2px solid $colorLightSliderShadow;
    }
    .slick-current {
      opacity: 1;
      &::before {
        margin-left: 10px;
        content: "";
        position: absolute;
        bottom: -2px;
        width: 100px;
        height: 5px;
        background-color: $colorTextlinks;
      }
    }
  }
}
