@import "vars";
@import "mixins";

.header {
  background: linear-gradient(45deg, #13c3e7, #01f86c);
  margin: auto;
  width: 100%;

  .container{
    @media (min-width: 768px) {
      position: relative;
      padding: 28px 54px 50px;
    }
    @media (min-width: 1440px) {
      min-height: 900px;
      padding: 28px 90px 100px;
    }
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  @media (min-width: 1440px) {
    align-items: center;
  }
}

.logo {
  color: $colorTextPrimary;
  text-decoration: none;
  min-width: 90px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Actor, Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 1440px) {
    font-size: 28px;
    margin-right: 90px;
  }
}

.header-menu {
  top: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  right: 0;
  left: 0;
  background: $colorTextPrimary;
  z-index: 2;
  font-family: Acme, Arial, Helvetica, sans-serif;
  transition: left 500ms ease;
  @media (min-width: 768px) {
    top: 0;
    z-index: 2;
    left: 50%;
  }
  @media (min-width: 1440px) {
    display: flex;
    position: static;
    background-color: $color-bg-transparent;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.header-menu-list {
  cursor: pointer;
  margin: 0;
  list-style: none;
  flex-direction: column;
  display: flex;
  margin-top: 24px;
  padding: 0;
  @media (min-width: 768px) {
    margin-top: 70px;
  }
  @media (min-width: 1440px) {
    padding: 0;
    width: 100%;
    flex-direction: row;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    @include text-size(12px, 24px);
    padding: 13px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    letter-spacing: 2px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
    @media (min-width: 1440px) {
      margin-bottom: 0;
      color: $colorTextPrimary;
      position: relative;
      min-width: 100px;
    }
    &:hover{
      .link{
        color: $hoverColorLink;
        transition: 600ms color;
      }
    }

    .link {
      color: $colorTextlinks;
      text-decoration: none;
      @media (min-width: 1440px){
        color: $colorTextPrimary;
        &:hover {
          color: $hoverColorLink;
          &::after {
            background-color: $hoverColorLink;
          }
        }
      }
    }
  }

  .active-link {
    &::after {
      content: "";
      position: absolute;
      margin-top: 20px;
      left: 33px;
      width: 40px;
      height: 2px;
      background-color: $colorTextlinks;
    }
    @media (min-width: 768px) {
      &::after {
        left: 32px;
      }
    }
    @media (min-width: 1440px) {
      &::after {
        width: 50px;
        left: 25px;
        background-color: $colorTextPrimary;
      }
    }
  }
}

.enter-buttons {
  flex-direction: column;
  display: flex;
  position: fixed;
  bottom: 0;
  margin-bottom: 40px;
  @media (min-width: 1440px) {
    position: static;
    flex-direction: row;
    margin-bottom: 0;
  }
  
  .btn {
    @include button-primary-first(180px,40px);
    background-color: transparent;
    color: $colorTextlinks;
    border: 1px solid $colorTextlinks;
    margin-bottom: 20px;
    &:hover {
      border: 1.5px solid $hoverColorLink;
      color: $hoverColorLink;
      transition: 800ms color;
      transition: 800ms border;
    }
    @media (min-width: 1440px) {
      margin: 0 0 0 20px;
      background-color: $color-bg-transparent;
      border: 1.5px solid $colorTextPrimary;
      color: $colorTextPrimary;
      box-shadow: none;
      &:hover {
        color: $hoverColorLink;
        border: 1.5px solid $hoverColorLink;
      }
    }
  }
}

.hamburger-icon {
  min-width: 24px;
  min-height: 18px;
  position: relative;
  border: 0;
  background-color: $color-bg-transparent;
  cursor: pointer;
  @media (min-width: 1440px) {
    display: none;
    position: absolute;
  }
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: $colorTextPrimary;
    left: 0;
    top: 0;
    box-shadow: 0 8px 0 0 $colorTextPrimary, 0 16px 0 0 $colorTextPrimary;
    transition: all 600ms;
  }
}

.hamburger-icon.open-menu {
  &::after {
    @include style-back-icon;
    transform: rotate(45deg);
    box-shadow: none;
    transition: all 600ms;
  }
  &::before {
    @include style-back-icon;
    transform: rotate(135deg);
    transition: rotate 600ms;
  }
  @media (min-width: 768px){
    z-index: 3;
    &::before {
      background-color: $colorTextlinks;
    }
    &::after {
      background-color: $colorTextlinks;
    }
  }
}

.header-text {
  display: block;
  margin: 30px auto;
  text-align: center;
  max-width: 500px;
  font-family: Actor, Arial, Helvetica, sans-serif;
  color: $colorTextPrimary;
  @include text-size(40px, 56px);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  @media (min-width: 768px) {
    max-width: 1100px;
    margin: 80px auto;
    font-size: 70px;
    line-height: 84px;
  }
  @media (min-width: 1440px){
    @include text-size(110px, 130px);
    margin: 80px auto 110px;
    padding: 0;
  }
}

.bottom-text-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }

  .bottom-text {
    @include text-size(12px, 24px);
    color: $colorTextPrimary;
    font-family: Aclonica, Arial, Helvetica, sans-serif;
    max-width: 670px;
    padding-left: 15px;
    border-left: 2px solid $colorTextPrimary;
    filter: drop-shadow(0px 2px 6px rgba(26, 26, 26, 0.3));
    @media (min-width: 768px) {
      @include text-size-small;
      padding: 0 30px;
      margin: auto;
    }
    @media (min-width: 1440px) {
      @include text-size(20px, 26px);     
    }
  }
  .btn {
    @include button-primary-first(130px,30px);
    color: $colorTextlinks;
    background-color: $colorTextPrimary;
    border: 0;
    margin: 20px auto 0;
    &:hover {
      @include button-hover-shadow;
      position: relative;
      bottom: 3px;
    }
    @media (min-width: 768px) {
      min-width: 200px;
      min-height: 40px;
      margin: auto;
    }
  }
}

.is-show-menu {
  left: 1600px;
  transition: left 500ms ease;
}