@import "vars";
@import "fonts";
@import "mixins";

.section{
    max-width: 1440px;
    padding: 20px 20px 30px;
    margin: auto;
}
  
.btn-outline{
    color: $colorTextPrimary;
    background-color: $colorTextlinks;
}

.btn-primary{
    color: $colorTextlinks;
    background-color: $colorTextPrimary;
    border: 1px solid $colorTextlinks;
}

.m-right{
    margin-right: 40px;
}

.m-bottom{
    margin-bottom: 40px;
}

.added-empty-field {
    padding: 50px 0 0;
}

.sticky-main {
    background-color: $colorTextPrimary;
    transition: background-color 600ms;
    max-width: 1440px;
    padding: 29px 90px;
    z-index: 1;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .logo {
      color: $hoverColorLink;
    }
    .header-menu {
      .header-menu-list {
        &-item {
          .link {
            color: $hoverColorLink;
            &:hover {
              color: $colorTextlinks;
            }           
          }
        }
      }
      .enter-buttons {
        button {
          color: $hoverColorLink;
          border: 1px solid $hoverColorLink;
          &:hover {
            color: $colorTextlinks;
            border: 1px solid $colorTextlinks;
          }
        }
      }
    }
}

.is-hide {
    overflow: hidden;
}

