@import "vars";
@import "fonts";
@import "mixins";

.wrapper-info-questions {
  margin: 0 auto 20px auto;
  .container-info {
    display: flex;
    flex-direction: column-reverse;
    .info-img {
      width: 100%;
      max-width: 705px;
    }
    .info {
      .title {
        display: block;
        max-width: 280px;
        @include text-size-standart;
        margin: auto 25px 25px 25px;
      }
      .text {
        display: block;
        @include text-size-small;
        font-family: "Aclonica";
        margin: 0 25px 25px 25px;
      }
    }
  }
  .container-info-bottom {
    display: flex;
    max-width: 655px;
    flex-direction: column;
    background: linear-gradient(201deg, #13c3e7, #01f86c);
    filter: drop-shadow(0px 12px 24px $colorLightSliderShadow);
    margin: -100px 25px 0 25px;
    border-radius: 5px;
    padding: 0 25px 25px 25px;
    .learn-more {
      .title-container {
        padding: 25px 0 10px 0;

        border-bottom: 2px solid $colorTextPrimary;
        .title {
          font-family: Acme;
          @include text-size(12px, 24px);
          letter-spacing: 2px;
          text-transform: uppercase;
          color: $colorTextPrimary;
        }
      }
      .learn-more-text-container {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .learn-more-text {
          @include text-size-small;
          color: $colorTextPrimary;
          font-family: Aclonica;
        }
        .learn-more-btn {
          cursor: pointer;
          position: relative;
          min-width: 35px;
          min-height: 35px;
          background-color: $color-bg-transparent;
          border: 1px solid $colorTextPrimary;
          border-radius: 25px;
          &::before {
            content: "";
            position: absolute;
            width: 25px;
            left: 4px;
            height: 1px;
            background-color: $colorTextPrimary;
          }
          &::after {
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            top: 11px;
            left: 15px;
            border-top: 1px solid $colorTextPrimary;
            border-right: 1px solid $colorTextPrimary;
            transform: rotate(45deg);
          }
          &:hover {
            border: 1px solid $hoverColorLink;
            transform: scale(1.2);
            &::after {
              border-color: $hoverColorLink;
              top: 11px;
            }
            &::before {
              background-color: $hoverColorLink;
            }
          }
        }
      }
    }
  }
}
