@import "vars";
@import "mixins";

@media (min-width: 768px) {
  .hamburger-container {
    margin: 28px 54px;
  }

  .header {
    .container {
      position: relative;
    }
  }

  .logo {
    margin: 28px 54px 0px 54px;
    font-size: 24px;
  }

  .container-header-menu {
    top: 75px;
    z-index: 2;
    .header-menu {
      .header-menu-item{
        padding: 13px;
        margin-bottom: 0;
      }
    }
  }

  .header-text {
    max-width: 1100px;
    margin: 80px auto 0 auto;
    padding: 20px;
    .header-text-value{
      font-size: 70px;
      line-height: 84px;
    }
  }

  .bottom-text-container {
    flex-direction: row;
    margin-top: 60px;
    padding: 20px 20px 50px 20px;
    .bottom-text {
      @include text-size-small;
      margin: auto;
      padding-left: 30px;
      border-left: 2px solid $colorTextPrimary;
    }
    .bottom-button-why-skout {
      margin: auto;
      .btn{
        margin-left: 25px;
        min-width: 200px;
        min-height: 40px;
      }
    }
  }

  .about-skout-container {
    margin: auto;
    .skout-sa {
      justify-content: center;
      display: flex;
      .skout-sa-img{
        width: auto;
      }
    }
    .about-skout {
      .title-about-skout {
        margin: 60px 0 30px 0;
        @include text-size-medium;
      }
      .text-about-skout {
        .text-about-skout-value{
          font-size: 16px;
        }
      }
    }
    .buttons-about-skout {
      margin: 60px auto 60px auto;
      .btn {
        height: 40px;
      }
    }
  }
  .cybersecurity-container {
    .cybersecurity-title {
      padding: 50px 0 40px 0;
      margin-bottom: 0;
      .cybersecurity-title-value{
        @include text-size-medium;
      }
    }
    .cards-container {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      .card {
        margin-right: 30px;
      }
    }
    .cybersecurity-button {
      margin-bottom: 50px;
      margin-top: 40px;
    }
  }

  .wrapper-big-slaider {
    padding-top: 60px;
    .big-slider-container {
      min-height: 1085px;
      .slider-title-container {
        .slider-title{
          @include text-size-medium;
        }
      }
    }
  }
  .inner-wrapper {
    .container-dots {
      margin: 45px 0 45px 0;
    }
  }

  .wrapper-cards-slaider {
    .slider-title-container {
      margin: 75px 0 35px 0;

      .slider-title{
        @include text-size-medium;
      }
    }
  }

  .wrapper-main-double-slaider {
    .main-double-slaider {
      margin: 40px 40px auto 40px;
      .slider-item {
        .slider-text-container {
          max-width: 570px;
          .author {
            text-align: right;
          }
        }
      }
    }
  }

  .wrapper-secondary-double-slaider {
    .secondary-double-slaider {
      .slider-item {
        text-align: start;
      }
    }
    .slick-track {
      transform: translate3d(0px, 0px, 0px) !important;
    }
    .width {
      width: 100% !important;
    }
  }

  .wrapper-info-questions {
    margin: 0 auto 40px auto;
    .container-info {
      .info {
        max-width: 705px;
        margin: auto;
        .title {
          margin: auto 0 25px 0;
        }
        .text {
          margin: auto 0 25px 0;
        }
      }
      .info-img{
        margin: auto;
      }
    }
    .container-info-bottom {
      flex-direction: row;
      justify-content: space-between;

      margin: -100px auto 50px auto;
      .learn-more {
        width: 100%;
      }
      .learn-more:last-child {
        margin-left: 100px;
      }
    }
  }

  .footer {
    .footer-wrapper {
      flex-direction: column;
      .social {
        justify-content: space-between;
        grid-template-columns: none;
        padding: 20px 20px 0 20px;
        .conteiner-social-icons {
          display: flex;
          grid-template-columns: 0;
          .social-icon{
            margin-right: 25px;
          }
          .twitter {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@import "active";
