@import "vars";

@mixin button-primary-first($width, $height, $color, $bg) {
  min-width: $width;
  min-height: $height;
  color: $color;
  background-color: $bg;
  font-family: Acme;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 6px 12px $color-shadow;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin text-font-style {
  font-family: Aclonica;
  color: $colorTextPrimaryDark;
}

@mixin text-size-small {
  font-size: $fs-small;
  line-height: $lh-small;
}

@mixin text-size-standart {
  @include text-font-style;
  font-size: $fs-standart;
  line-height: $lh-standart;
}

@mixin text-size-medium {
  @include text-font-style;
  font-size: $fs-medium;
  line-height: $lh-medium;
}

@mixin text-size-large {
  @include text-font-style;
  font-size: $fs-large;
  line-height: $lh-large;
}

@mixin text-size($font, $line) {
  font-size: $font;
  line-height: $line;
}

@mixin style-back-icon {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: $colorTextPrimary;
  left: 0;
  top: 5px;
}

@mixin button-hover-shadow {
  box-shadow: 0px 6px 12px $color-shadow-hover;
  transition: box-shadow 600ms;
}
