@import "vars";
@import "fonts";
@import "mixins";
@import "header";
@import "about-skout";
@import "cybersecurity";
@import "big-slaider";
@import "cards-slaider";
@import "double-slaider";
@import "info-questions";
@import "footer";

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
::before {
  box-sizing: inherit;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}

.section{
  max-width: 1440px;
  padding: 20px 20px 30px;
  margin: auto;
}
