$colorTextPrimary: white;
$colorTextPrimaryDark: #191919;
$colorTextlinks: #22bf95;
$hoverColorLink: #7f7f7f;
$colorLightSliderShadow: #e5e5e5;
$color-shadow: rgba(127, 127, 127, 0.3);
$color-shadow-hover: rgba(127, 127, 127, 0.8);
